<template>
    <div class="card-filters">
        <p>
            <m-multiselect
                v-for="(filter, ind) in contents.filters"
                v-model="filterModels[filter]"
                :key="ind"
                @change="inputChange(filter, filterModels[filter])"/>
        </p>
    </div>
</template>

<script>
import MMultiselect from './MMultiselect'
    // @change="inputChange(filterModels[index], $props.names[index].name)"
export default {
    mixins: ['../mixins/utilities.js'],
    props: ['contents'],
    data () {
        return {
            filterModels: {}
        }
    },
    components: {
        MMultiselect
    },
    created () {
        this.contents.filters.forEach(columnFilter => {
            this.$set(this.filterModels, columnFilter, [])
        })
    },
    methods: {
        inputChange (filterArr, labels) {
            console.log('were this far')
            this.$emit('applyFilters', filterArr, labels)
        }
    },
    mounted () {
        console.log(this.contents)
    }
}
</script>

<style scoped lang="scss">
.card-filters {
    border-bottom: 1px solid rgba(10,10,10,.1);
    display: flex;
    padding: 0 0 10px 10px;
    p {
        display: flex;
    }
}
.q-select {
    width: 200px;
    height:100px;
    margin-right: 15px!important;
    overflow: hidden;
    &:nth-child(1n) {
        max-height: 40px!important;
    }
}
</style>