<template>
    <div>
        <div
            v-for="(list, index) in listRows"
            :key="index">
            <m-select
                class="margin-top"
                placeholder="Select a card type..."
                v-model="listRows[index].type"
                v-show="viewer === index"
                @input="tellMommy"
                radio="1"
                :options="cardRowListOptions"/>
            <m-input
                v-if="listRows[index].type !== 'filter'"
                v-model="listRows[index].label"
                v-show="viewer === index"
                placeholder="Card Label"
                class="margin-top"/>
            <m-select
                v-model="listRows[index].ref_column"
                v-if="listRows[index].type !== 'count'"
                v-show="viewer === index"
                placeholder="Reference Column..."
                :options="columns"
                radio="1"
                @input="tellMommy"
                class="margin-top"/>
            <m-select
                v-if="listRows[index].type === 'percentOfTotal'"
                v-show="viewer === index"
                v-model="listRows[index].ref_total_column"
                placeholder="Total Amount Column..."
                :options="columns"
                radio="1"
                @input="tellMommy"
                class="margin-top"/>
            <div v-show="viewer !== index" class="minimized-card-section" @click="viewer = index">{{ listRows[index].label + ' Card : ' + listRows[index].value  }}</div>
        </div>
        <div class="new-card-text" @click="addNewCard">+ Add New Card</div>
    </div>
</template>

<script>
import MSelect from './MSelect'
import MInput from './MInput'

export default {
    props: ['columns', 'value'],
    components: {
        MSelect,
        MInput
    },
    data: () => ({
        listRows: [
            {
                label: '', ref_column: '', type: ''
            }
        ],
        cardRowListOptions: [

            { label: 'SUM', value: 'total' },
            { label: 'COUNT', value: 'count' },
            { label: 'PERCENT', value: 'percentOfTotal' },
            { label: 'COLUMN FILTER', value: 'filter' }
        ],
        modelOptions: [
            {}
        ],
        viewer: 0
    }),
    watch: {
        refresh (val) {
            if (val) {

            }
        }
    },
    methods: {
        addNewCard () {
            this.viewer = this.listRows.length
            this.listRows.push({ label: '', ref_column: '', type: '' })
        },
        tellMommy (val) {
            console.log(this.listRows)
            setTimeout(() => {
                this.$emit('input', { type: 'data-cards', list: this.listRows })
            }, 0)
        }
    }
}
</script>

<style lang="scss">
.minimized-card-section {
    background: white;
    color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.4);
    padding: 2px;
    border-radius: 2px;
    height: 20px;
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    &:hover {
        background: lightgreen;
        color: black;
    }
}

.margin-top {
    margin-top: 10px;
}

.new-card-text {
    text-align: center;
    width: 95%;
    height: 18px;
    font-size: 16px;
    background: white;
    color: yellowgreen;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 5px;
    padding: 5px;
    &:hover {
        background: yellowgreen;
        color: black;
    }

}

</style>
