<template>
    <div class="content-row">
        <div
            v-if="contents.list.length"
            class="cardstyle card"
            v-for="(card, idx) in contents.list"
            :key="idx">
            <div v-if="card.type !== 'filter'" class="card-label">{{ card.label }}</div>                        
            <div v-if="card.type !== 'filter'" class="card-info">{{ card.value | ifEmpty }}</div>
            <div
                class="card-filter"
                v-if="card.type === 'filter'"
                ref="cardFilters">
                <div
                    class="filter-card"
                    v-for="(filter, idx) in card.values"
                    :key="idx"
                    :style="'color:' + filter.color + ';'">
                    <input @change="filterBy(filter.label, card.ref_column)" type="checkbox" :id="filter.label" :name="card.ref_column"/><label :for="filter.label" :value="filter.label">{{ filter.label.normalize() + ' : ' + filter.value }}</label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

var _ = {
    defer: require('lodash/defer')
}

import utils from '../mixins/utils'

export default {
    props: ['contents', 'dashData', 'refresh'],
    mixins: [utils],
    data () {
        return {
            theData: []
        }
    },
    filters: {
        ifEmpty: function (value) {
            if (!value) return '0'
            if (value === 'NaN %') return '0%'
            return value
        }
    },
    methods: {
        filterBy (value, column) {
            let vals = Array
                    .from(
                        this.$refs.cardFilters[0]
                        .querySelectorAll('input[name="' + column + '"]:checked')
                    )
                    .map(node => node.id)
            if (!vals[0]) {
                vals = Array
                    .from(
                        this.$refs.cardFilters[0]
                        .querySelectorAll('input[name="' + column + '"]')
                    )
                    .map(node => node.id)
            }

            this.$emit('filter',
                vals,
                column
            )

            console.log(Array
                    .from(
                        this.$refs.cardFilters[0]
                        .querySelectorAll('input[name="' + column + '"]:checked')
                    )
                    .map(node => node.id), column)
        },
        generateSections () {
            if (!this.contents.list) this.$set(this.contents, 'list', {})
            this.contents.list.forEach((card, ind) => this[card.type](ind, card))
        },
        count (ind, card) {
            this.$set(this.contents.list[ind], 'value', Intl.NumberFormat().format(this.theData.map(row => row[card.ref_column]).filter(this.getUnique).length))
        },
        total (ind, card) {
            _.defer(() => {
                this.$set(this.contents.list[ind], 'value', Intl.NumberFormat().format(this.sum(this.theData, card.ref_column)))
            })
        },
        percentOfTotal (ind, card) {
            this.$set(this.contents.list[ind], 'value', Intl.NumberFormat().format(this.sum(this.theData, card.ref_column) / this.sum(this.theData, card.ref_total_column) * 100).toString().slice(0, 5) + ' %')
        },
        filter (ind, card) {
            let multiArr
            if (card.distinctIdentifier) {
                multiArr = card.order.map((cat, idx) =>
                    this.theData
                        .filter(row => row[card.ref_column] === cat)
                        .map(row => row[card.distinctIdentifier])
                        .filter(this.getUnique).length
                )
            }
            else {
                multiArr = card.order.map((cat, idx) =>
                    this.theData
                        .filter(row => row[card.ref_column] === cat)
                        .length
                )
            }

            this.$set(this.contents.list[ind], 'values', card.order.map((cat, idx) => ({
                color: card.colors[idx],
                label: cat,
                value: multiArr[idx]
            })))
        },
        sum (data, ref) {
            return data.reduce((accum, curr) => curr && curr[ref] ? accum + parseInt(curr[ref]) : accum, 0)
        }
    },
    watch: {
        dashData (val) {
            this.theData = this.dashData
            this.generateSections()
        },
        refresh (val) {
            if (val) {
                this.generateSections()
                this.$emit('unrefresh')
            }
        }
    },
    mounted () {
        window.cardrow = this
        this.theData = this.dashData
        if (!this.contents.list) this.$set(this.contents, 'list', {})
        if (this.contents.list.length) {
            this.generateSections()
        }
    }
}

String.prototype.normalize = function () {
    return this.split(' ').map(res => res.charAt(0).toUpperCase() + res.slice(1).toLowerCase()).join(' ')
}
</script>

<style lang="scss">

body {
    font-weight: 300;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-row {
    display: flex;
}

.content-row div:first-child {
    margin-left: 0!important;
}

.content-row div:last-child {
    margin-right: 0!important;
}



.card-info {
    padding: .75rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    text-align:center;
}

.card-label {
    text-align:center;
    font-weight: 400;
    padding: 20px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.6);
    padding-bottom: 0;

}

.card {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(77, 149, 204, 0.8);
    &:last-child {
        border-right: 1px solid rgba(77, 149, 204, 0.8);
    }
}

.cardstyle {
  display: flex;
  flex-wrap: wrap;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
//   box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  min-width: 130px;
  max-width: 500px;
  width: auto;
  flex-grow: 1;
//   &:hover {
//       background: rgba(4, 117, 155, 0.16);
//   }
}

.filter-card {
    padding-top: .1em;
    padding-bottom: .2em;
    font-weight: 500;
    span {
        cursor: pointer;
    }
    label {
        font-size: 0.8rem;
        padding-left: .5rem;
    }
    input, label {
        cursor: pointer;
    }

}

.card-filter:first-child {
    padding-top: 10px;
}
.card-filter:last-child {
    padding-bottom: 10px;
}


// need length, indices, elements
</style>