<template>
    <div class="column-order-creator">
        <div
            class="order-chip-container"
            v-for="(obj, ind) in computedColumns" :key="ind"
            type="existing">
            <div class="order-chip-order">{{ ind + 1 }}</div>
            <div
                class="order-chip">{{ obj.label }}
            </div>
            <div class="order-chip-actions">
                <div class="delete" @click="delet(ind)">
                    <i class="ion-ios-close" />
                </div>
            </div>
            <div class="order-chip-actions">
                <div class="change-column-type" @click="changeType(obj.label, types[obj.label])">
                    <div v-html="alphaSVG" v-if="types[obj.label] === 'alpha'"></div>
                    <div v-html="numericSVG" v-if="types[obj.label] === 'numeric'"></div>
                    <div v-html="dateSVG" v-if="types[obj.label] === 'date'"></div>
                    <div v-html="percentSVG" v-if="types[obj.label] === 'percent'"></div>
                </div>
            </div>
        </div>
        <hr/>
        <div
            class="deleted-chip-container"
            v-for="(val, ind) in deleted"
            type="deleted"
            :key="ind">
            <div
                class="order-chip">{{ val }}
            </div>
            <div class="order-chip-actions">
                <div class="add" @click="add(val, ind)">
                    <i class="ion-ios-add" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['columns'],
    data: () => ({
        model: [],
        deleted: [],
        types: {},
        alphaSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 95.864 95.864" style="enable-background:new 0 0 95.864 95.864;" xml:space="preserve"> <g> <g> <path d="M26.847,43.907c0.279,0.805,1.037,1.345,1.889,1.345h5.59c0.656,0,1.271-0.322,1.645-0.862s0.459-1.229,0.227-1.843    L23.632,9.19c-0.293-0.779-1.039-1.295-1.871-1.295h-6.869c-0.826,0-1.568,0.509-1.865,1.28L0.134,42.582    c-0.236,0.615-0.156,1.308,0.217,1.852c0.373,0.543,0.99,0.868,1.65,0.868h5.07c0.836,0,1.584-0.52,1.875-1.303l2.695-7.247    h12.723L26.847,43.907z M14.027,29.873l4.154-12.524l3.9,12.524H14.027z"/> <path d="M39.711,45.25h10.01c3.274,0,9.371,0,13.272-4.488c2.14-2.482,2.39-7.353,1.609-9.807    c-0.836-2.395-2.43-4.028-5.103-5.193c2.015-1.046,3.437-2.515,4.234-4.382c1.207-2.857,0.596-6.954-1.434-9.55    c-2.781-3.471-7.6-3.939-11.949-3.939L39.709,7.896c-1.104,0-1.998,0.896-1.998,2V43.25C37.711,44.355,38.606,45.25,39.711,45.25z     M55.375,35.911c-0.586,1.227-1.813,2.361-6.811,2.361H47.28V29.56l1.813-0.001c2.971,0,4.705,0.295,5.93,1.894    C55.877,32.587,55.92,34.806,55.375,35.911z M54.625,20.298c-0.854,1.514-2.039,2.333-5.712,2.333H47.28v-7.808l1.847-0.001    c2.609,0.064,4.123,0.343,5.115,1.658C55.05,17.592,55.007,19.458,54.625,20.298z"/> <path d="M95.677,38.77c-0.031-0.632-0.359-1.212-0.886-1.563c-0.524-0.353-1.188-0.436-1.782-0.224    c-4.802,1.706-8.121,1.787-11.17,0.258c-3.761-1.946-5.666-5.227-5.824-9.99c-0.062-4.17,0.528-8.79,5.358-11.445    c1.416-0.775,3.07-1.168,4.92-1.168c2.461,0,4.9,0.723,6.515,1.328c0.598,0.227,1.266,0.149,1.799-0.199    c0.535-0.351,0.869-0.935,0.9-1.572l0.18-3.542c0.047-0.94-0.568-1.787-1.478-2.031c-2.006-0.541-5.149-1.185-8.745-1.185    c-3.873,0-7.265,0.733-10.085,2.183c-7.836,4.055-9.102,11.791-9.278,14.92c-0.181,2.901-0.123,12.788,8.117,18.195    c3.883,2.5,8.541,3.024,11.764,3.024c2.816,0,5.812-0.417,8.438-1.175c0.892-0.258,1.488-1.094,1.443-2.02L95.677,38.77z"/> <path d="M88.453,49.394c-0.067-0.531-0.346-1.016-0.772-1.34c-0.429-0.325-0.968-0.463-1.498-0.388    c-20.898,3.031-38.422,16.966-47.236,25.268l-16.85-19.696c-0.717-0.841-1.98-0.938-2.818-0.222l-6.471,5.533    c-0.404,0.346-0.654,0.836-0.695,1.364s0.131,1.054,0.475,1.455l21.268,24.861c1.061,1.238,2.525,2.003,4.041,2.146    c0.17,0.022,0.393,0.052,0.738,0.052c1.039,0,3.023-0.272,4.646-2.104c0.203-0.226,20.568-22.684,44.559-26.252    c1.075-0.16,1.825-1.152,1.688-2.23L88.453,49.394z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`,
        dateSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 45.836 45.836" style="enable-background:new 0 0 45.836 45.836;" xml:space="preserve"> <g> <g> <polygon points="10.553,21.354 11.275,24.635 14.858,22.918 14.912,22.918 14.912,37.827 19.195,37.827 19.195,19.034     15.523,19.034   "/> <path d="M33.013,26.854c-1.326-0.953-3.146-1.356-4.938-1.356c-0.463,0-0.811,0.007-1.215,0.064l0.404-2.881h7.312v-3.646H24.202    l-1.24,9.86c0.781-0.116,1.501-0.168,2.541-0.168c3.756,0,5.286,1.188,5.286,3.123c0,1.993-1.937,2.86-3.755,2.86    c-1.704,0-3.408-0.52-4.245-0.923l-0.781,3.293c1.041,0.548,2.948,1.068,5.229,1.068c5.055,0,8.06-3.091,8.06-6.585    C35.296,29.366,34.43,27.807,33.013,26.854z"/> <path d="M40.446,2.844v2.292c0,2.311-1.896,4.223-4.205,4.223h-0.215c-2.31,0-4.225-1.913-4.225-4.223V2.54h-4.6v2.596    c0,2.311-1.914,4.223-4.224,4.223h-0.212c-2.312,0-4.208-1.913-4.208-4.223V2.54H13.88v2.596c0,2.311-1.853,4.223-4.163,4.223    H9.503c-2.311,0-4.188-1.913-4.188-4.223V2.879C2.619,3.764,0.716,6.286,0.716,9.258v29.886c0,3.711,2.997,6.691,6.708,6.691    h30.997c3.711,0,6.699-2.98,6.699-6.691V9.258C45.124,6.248,43.142,3.697,40.446,2.844z M41.794,38.527    c0,2.148-1.727,3.898-3.875,3.898H7.93c-2.148,0-3.881-1.75-3.881-3.898V17.295c0-1.463,1.176-2.624,2.64-2.624h32.472    c1.464,0,2.634,1.161,2.634,2.624L41.794,38.527L41.794,38.527z"/> <path d="M9.506,7.296h0.213c0.664,0,1.254-0.28,1.655-0.747c0.331-0.384,0.525-0.867,0.525-1.414l0,0V2.164l0,0    c0-0.6-0.235-1.144-0.626-1.54c-0.004-0.003-0.004-0.008-0.007-0.011c-0.003-0.003-0.004,0.012-0.006,0.009    c-0.397-0.393-0.94-0.62-1.542-0.62H9.505c-0.603,0-1.147,0.227-1.544,0.62C7.96,0.625,7.958,0.619,7.955,0.621    C7.951,0.625,7.942,0.624,7.939,0.626C7.547,1.023,7.3,1.562,7.3,2.163l0,0v2.973l0,0c0,0.546,0.206,1.03,0.537,1.414    C8.239,7.018,8.841,7.296,9.506,7.296z"/> <path d="M21.515,6.947c0.004,0.002,0.015,0.005,0.018,0.007c0.006,0.004,0.018-0.008,0.023-0.004    c0.347,0.229,0.764,0.347,1.211,0.347h0.001h0.212l0,0c0.376,0,0.729-0.078,1.037-0.245c0.004-0.001,0.006,0.006,0.01,0.004    c0.006-0.004-0.002-0.004,0.006-0.009c0.672-0.375,1.111-1.088,1.111-1.912V2.163c0-0.713-0.326-1.347-0.854-1.748    c-0.005-0.003-0.001-0.007-0.005-0.01l0.004,0.017c-0.365-0.274-0.815-0.419-1.308-0.419h-0.213c-0.567,0-1.083,0.199-1.472,0.552    c-0.001,0-0.002-0.007-0.002-0.007c-0.005,0.004-0.024,0.004-0.028,0.008c-0.435,0.401-0.723,0.97-0.723,1.608v2.974    C20.542,5.888,20.938,6.552,21.515,6.947z"/> <path d="M36.028,7.296h0.213c0.666,0,1.273-0.28,1.678-0.747c0.331-0.384,0.547-0.867,0.547-1.414l0,0V2.164l0,0    c0-0.829-0.477-1.55-1.154-1.924c-0.005-0.002-0.015-0.004-0.018-0.006c-0.055-0.029-0.113-0.055-0.169-0.08    c-0.011-0.004-0.021-0.008-0.028-0.012c-0.014-0.005-0.027-0.01-0.041-0.016c-0.021-0.008-0.04-0.016-0.061-0.023    c-0.012-0.004-0.021-0.007-0.032-0.011c-0.022-0.008-0.047,0-0.069-0.007c-0.205-0.064-0.426-0.083-0.652-0.083h-0.213    c-0.113,0-0.209-0.007-0.318,0.009c-1.055,0.161-1.846,1.055-1.846,2.152v2.974C33.864,6.347,34.817,7.296,36.028,7.296z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`,
        numericSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 47.027 47.027" style="enable-background:new 0 0 47.027 47.027;" xml:space="preserve"> <g> <g> <path d="M7.567,17.285c-0.73,0-1.424,0.152-2.397,0.421L2.386,18.52C0.959,18.939,0,20.197,0,21.646    c0,1.724,1.47,3.181,3.21,3.181c0.35,0,0.721-0.066,0.95-0.119v11.896c0,1.909,1.554,3.463,3.463,3.463    c1.909,0,3.462-1.554,3.462-3.463V20.75C11.084,18.838,9.532,17.285,7.567,17.285z"/> <path d="M26.576,28.202h-2.973l0.129-0.1c3.537-2.738,5.686-4.69,5.686-8.725c0-4.426-3.256-7.399-8.1-7.399    c-3.124,0-5.411,1.035-7.424,3.368c-0.52,0.617-0.817,1.422-0.817,2.205c0,1.815,1.479,3.292,3.294,3.292    c0.942,0,1.833-0.382,2.437-1.041c1.009-1.09,1.543-1.29,2.23-1.29c1.18,0,1.316,0.704,1.316,1.232    c0,0.928-0.404,1.646-2.916,3.695l-5.586,4.578c-1.059,0.854-1.619,1.959-1.619,3.194c0,1.988,1.506,3.38,3.66,3.38h10.684    c1.769,0,3.207-1.431,3.207-3.185C29.784,29.643,28.344,28.202,26.576,28.202z"/> <path d="M42.999,15.659l2.187-2.09c0.896-0.86,1.701-1.768,1.701-3.373c0-1.876-1.479-3.236-3.521-3.236H33.78    c-1.754,0-3.183,1.428-3.183,3.183c0,1.752,1.429,3.18,3.183,3.18h2.858l-1.576,1.588c-0.612,0.613-1.315,1.475-1.315,2.708    c0,1.753,1.429,3.18,3.183,3.18h0.676c0.76,0,2.523,0.115,2.523,1.235c0,0.958-1.019,1.063-1.457,1.063    c-1.152,0-2.048-0.344-3-1.152c-0.681-0.565-1.406-0.842-2.229-0.842c-1.846,0-3.404,1.557-3.404,3.402    c0,0.945,0.457,1.925,1.189,2.555c1.981,1.705,4.469,2.568,7.389,2.568c4.951,0,8.41-3.193,8.41-7.82    C47.027,18.891,45.617,16.768,42.999,15.659z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`,
        percentSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M504.936,7.136c-9.38-9.392-24.6-9.392-33.98,0L7.204,470.888c-9.388,9.384-9.388,24.592,0,33.976    c4.692,4.696,10.844,7.044,16.992,7.044s12.3-2.348,16.988-7.044L504.936,41.112C514.324,31.728,514.324,16.52,504.936,7.136z"/> </g> </g> <g> <g> <path d="M114.144,0.256C51.208,0.256,0,51.468,0,114.404s51.208,114.144,114.144,114.144c62.94,0,114.144-51.212,114.144-114.148    S177.08,0.256,114.144,0.256z M114.144,180.484c-36.44,0-66.084-29.648-66.084-66.084c0-36.436,29.648-66.084,66.084-66.084    c36.44,0,66.084,29.648,66.084,66.084C180.228,150.836,150.584,180.484,114.144,180.484z"/> </g> </g> <g> <g> <path d="M397.856,283.596c-62.936,0-114.144,51.208-114.144,114.144s51.208,114.144,114.144,114.144S512,460.68,512,397.74    S460.792,283.596,397.856,283.596z M397.856,463.82c-36.44,0-66.084-29.648-66.084-66.084c0-36.436,29.648-66.084,66.084-66.084    c36.436,0,66.084,29.648,66.084,66.084S434.296,463.82,397.856,463.82z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`
    }),
    watch: {
        columns (val) {
            this.model = this.columns.map(_ => _.label)
            this.$emit('input', this.columns.map(_ => _.label))
        },
        model (val) {
            // this.types = []
            // this.model.forEach(column => {
            //     this.types.push()
            // })
        }
    },
    computed: {
        computedColumns () {
            return this.model === undefined ? this.columns : this.model.map(_ => ({ label: _, value: _ }))
        }
    },
    methods: {
        delet (idx) {
            this.deleted.push(this.model[idx])
            this.$delete(this.model, idx)
            setTimeout(() => { this.$emit('input', this.model) }, 0)
        },
        add (val, idx) {
            this.model.push(val)
            this.$delete(this.deleted, idx)
            setTimeout(() => { this.$emit('input', this.model) }, 0)
        },
        changeType (idx, currentType) {
            this.types[idx] = currentType === 'alpha'
            ? 'numeric'
            : currentType === 'numeric'
            ? 'date'
            : currentType === 'date'
            ? 'percent'
            : 'alpha'
            setTimeout(() => { this.$emit('types', this.types) }, 0)
        }
    },
    created () {
        this.model = this.columns.map(_ => _.label)
        this.columns.map(_ => _.label).forEach(col => this.$set(this.types, col, 'alpha'))
        setTimeout(() => {
            this.$emit('input', this.model)
            this.$emit('types', this.types)
        }, 0)
    }
}
</script>

<style lang="scss">



.order-chip {
    background: green;
    color: white;
    width: 200px;
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
}


.order-chip-order {
    width: 20px;
    text-align: right;
    margin-right: 5px;
}

.order-chip-container {
    display: flex;
    align-items: center;
    .order-chip-actions {
        margin-top: 5px;
    }
}

.deleted-chip-container {
    display: flex;
    align-items: center;
    .order-chip-actions {
        margin-top: 5px;
    }
}

.delete {
    border: 1px solid rgba(255, 0, 0, 0.9);
    border-radius: 5px;
    padding-left:7px;
    padding-right:7px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    height: 22px;
    color: rgba(255, 0, 0, 0.9);
}

.change-column-type {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    margin-left: 3px;
    div {
        height: 22px;
        display: flex;
        align-items: center;
    }
    height: 22px;
    svg g path {
        fill: rgba(0,0,0,0.7);
    }
}

.add {
    border: 1px solid rgba(0, 255, 0, 1);
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    height: 22px;
    color: rgba(0, 255, 0, 1);
}

</style>
