<template>
    <div class="custom-context-menu-wrapper" 
        :style="{ zIndex: visible ? '9999999' : 'initial' }">
        <div
            class="custom-context-menu"
            v-if="visible">
            <div
                class="context-menu-item"
                v-for="(item, index) in menuItems"
                :key="index"
                @click="navigate(item)"
                @mouseenter="$emit('hover', true)"
                @mouseleave="$emit('hover', false)">
                <div class="ct-menu-icon" v-if="item.icon"><m-icon :name="item.icon" /></div>
                <div class="ct-menu-svg" v-if="item.svg" v-html="item.svg"></div>
                <div class="ct-menu-text" :style="{ 'text-align': align }">{{ item.label.replace('@', title) }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import MIcon from './MIcon'

export default {
    props: ['menuItems', 'coords', 'title', 'visible', 'row', 'align'],
    components: {
        MIcon
    },
    watch: {
        coords ({top, left}, oldVal) {
            this.$el.style.top = top + 'px'
            this.$el.style.left = left + 'px'
        }
    },
    methods: {
        navigate (item) {
            let varTag = item.href.slice(item.href.indexOf('@') + 1)

            if (item.href.includes('$')) {
                this.$emit('close')
                return this.$emit(item.href.slice(1))
            }

            if (item.href.includes('localStorage')) {
                // if we are values in localStorage for accessing later
                let key = item.href.split('~')[1].split('@')[0],
                arr
                // use the user_defined key to access the values in storage if it exists
                if (localStorage[key]) {
                    arr = JSON.parse(localStorage[key])
                }
                else {
                    arr = []
                }
                if (!arr.includes(this.row[varTag])) {
                    arr.push(this.row[varTag])
                } // send the variable tag to the object
                localStorage[key] = JSON.stringify(arr)
                return this.$emit('close')
            }

            let href = item.href.replace(`@${varTag}`, this.row[varTag].lodashize())

            if (item.href.includes('https://')) {
                let link = document.createElement('a')
                link.href = href
                link.target = '_blank'
                document.body.appendChild(link)
                link.click()
            }
            else {
                this.$router.replace(href)
            }
        }
    }
}

String.prototype.lodashize = function () {
    return this.split(' ').join('_')
}
</script>

<style lang="scss">
    .custom-context-menu-wrapper {
        position: absolute;
    }
    .custom-context-menu {
        background: white;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 2px;
        border-radius: 0;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        .context-menu-item {
            display: flex;
            padding: 8px;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                background: rgba(4, 117, 155, 0.16);
            }
            .ct-menu-icon, .ct-menu-svg {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content:center;
                align-items: center;
            }
        }
        .icon {
            // margin-left: 10px;
            font-size: 24px;
            color: rgba(0,0,0,0.3);
        }
        svg {
            margin-left:none;
            fill: rgba(0,0,0,0.3);
            g {
                fill: rgba(0,0,0,0.3);
                path {
                    fill: rgba(0,0,0,0.3);
                }
            }
        }
    }



    .ct-menu-text {
        white-space: nowrap;
        width: 100%;
    }
</style>
