<template>
    <div class="description-container">
        <div class="description-title-container">
            <div class="entry-container" v-for="(dimension, title) in contents.description"
            :key="title">
                <div class="dashboard-description-title" v-if="title !== 'title'" style="font-size:1em;" :style="title === 'title' ? 'color:#B3D5E1;font-size:1.5em;' : ''">{{ title }}:</div>
                <div class="dashboard-description-desc" style="font-size:1em;" :style="{ 'margin-bottom': title === 'title' ? '1em' : '' }">{{ dimension }}:</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['contents']
}
</script>

<style lang="scss">

.dashboard-description-title {
    font-size: .6em;
}

.entry-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 95%;
    margin-bottom: 1em;
    color: rgba(96, 121, 151, 0.7) !important;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    &:hover {
        background: rgba(0,0,0,0.1);
    }
    div:nth-child(2) {
        width: 100%;
        max-width:80%;
    }
    div {
        line-height: 1.5;
    }
}

.tooltip-container {
    width: 95vw;
}


.description-title-container {
    display: flex;
    padding-bottom: 1em;
    min-width: 95vw;
    // justify-content:right;
    flex-direction: column;
    justify-content:space-between;
    .dashboard-description-title {
        margin-right: 1em;
        white-space: nowrap;
        display:flex;
        // text-align:right;
    }
}

.description-desc-container {
    width: 75%;
}

.description-container {
    padding: 1em;
    display: flex;
    font-size: .5em;
    line-height: auto;
    height: auto;

}
</style>
