<template>
  <div :class="where" class="outer-tooltip-container to-bottom" v-show="showing">
        <!-- <span class="triangle" :style="getStyle" v-show="showing">▲</span> -->
        <div class="tooltip-container" >
            <slot></slot>
        </div>
  </div>
</template>

<script>
export default {
    data: () => ({
        where: null,
        showing: false,
        top: 0,
        left: 0
    }),
    methods: {
        open (ev) {
            this.left = ev.target.offsetLeft + 12 + 'px'
            this.showing = true
        },
        close (ev) {
            this.showing = false
        },
        toggle (ev) {
            this.left = 'calc(' + (ev.target.offsetLeft + 15) + 'px - 5%)'
            document.addEventListener('click', this.clickListener)
        },
        clickListener (ev) {
            if (this.showing === false) {
                this.showing = true
            }
            else {
                this.showing = false
                document.removeEventListener('click', this.clickListener)
            }
        }
    },
    computed: {
        getStyle () {
            return `left:${this.left};top:-14px;`
        }
    }
}
</script>

<style>

.to-bottom {
    position: absolute;
}

.triangle {
    width: 0; 
    height: 0;
    font-size:30px;
    color: white;
    text-shadow: 0px -3px 0px #B3D5E1;
    transform:scale(1.8,0.8);
    text-align: center;
    /* margin-bottom:20px; */
    position:absolute;
} 

.tooltip-container {
    width: auto;
    /* max-width: 50vw; */
    height: auto;
    background: white;
    margin-top:6px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    border: 1px solid #B3D5E1;
}

.outer-tooltip-container {
    left: 0;
    position:absolute;
    z-index:999;
    font-size: 1.5 rem;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

</style>
