<template>
    <div
        class="data-search-container">
        <div class="data-search-autocomplete-wrapper">
            <m-auto-complete
                v-model="searchTerm"
                :asyncOptions="list"
                @input="getList"
                @selected="navigate" />
        </div>
    </div>
</template>

<script>
import MAutoComplete from './MAutoComplete.vue'

export default {
    components: {
        MAutoComplete
    },
    data: () => ({
        searchTerm: '',
        list: [],
        config: {}
    }),
    methods: {
        navigate (ev) {
            console.log(ev)
            let url = this.config.targetUrl.replace(':value', ev.label)
            this.$router.replace(url)
        },
        getList (searchTerm) {
            if (searchTerm.length > 0 && !this.list.length) {
                return this.$axios.get(`${this.$config.host}${this.config.listRequestEndpoint.replace('@', this.searchTerm.charAt(0).toLowerCase())}`)
                .then(data => {
                    this.list = data.data.map(el => ({ label: el[this.config.identifier], value: el[this.config.identifier] }))
                })
            }
            else if (searchTerm.length === 0) {
                this.list = []
            }
        }
    },
    mounted () {
        let configUrl = this.$config.host + '/api/' + this.$route.params.dashboard + '_search_config'
        this.$axios.get(configUrl)
        .then(res => {
            this.config = res.data
        })
    }
}
</script>

<style lang="scss">


.data-search-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // background:black;
}

.data-search-autocomplete-wrapper {
    width: 600px;
    // background: red;
}
</style>
