<template>
    <div>
        <row-action-creator />
        <column-order-creator :columns.sync="columns" v-model="config.order" @input="tellMommy" @types="setTypes($event)"/>
    </div>
</template>

<script>
import MInput from './MInput.vue'
import RowActionCreator from './RowActionCreator'
import ColumnOrderCreator from './ColumnOrderCreator'
import ColumnWidthCreator from './ColumnWidthCreator'

export default {
    props: ['columns'],
    components: {
        MInput,
        RowActionCreator,
        ColumnOrderCreator,
        ColumnWidthCreator
    },
    methods: {
        tellMommy () {
            this.$emit('input', this.config)
        },
        setTypes (ev) {
            this.config.filterCols = ev
            setTimeout(() => { this.$emit('input', this.config) }, 500)
        }
    },
    data: () => ({
        config: {
            type: 'data-table',
            order: [],
            columnWidth: {},
            colorCols: [],
            colorRefs: { label: '' },
            contextMenuOptions: [],
            filterCols: {},
            height: '60vh',
            width: '99vw'
        }
    }),
    mounted () {

    }
}
</script>

<style>

</style>
