<template>
    <div class="table-container" :style="{ width: this.contents.width || '100%'}">
        <infinite-scroll-table
            :data="theData"
            rowHeight="48"
            :header="contents.config"
            :tableHeight="contents.height || '65vh'"
            :custom-context-menu-option="todo">
        </infinite-scroll-table>
        <custom-context-menu
            :menuItems="contents.contextMenuOptions"
            :coords="contextMenuCoordinates"
            :title="contextMenuItem"
            :visible="showCustomContextMenu"
            :row="contextMenuRow"
            @close="showCustomContextMenu = false"
            @hover="customContextMenuHovering = $event" />
    </div>
</template>

<script>
import CustomContextMenu from './CustomContextMenu'
import MIcon from './MIcon'
import InfiniteScrollTable from 'vue-infinite-scroll-table'

export default {
    props: ['contents', 'dashData', 'height', 'update', 'currentSort', 'width'],
    components: {
        CustomContextMenu,
        MIcon,
        InfiniteScrollTable
    },
    data () {
        return {
            scrollBottom: 100,
            nullMap: {
                percent: '0.00',
                numeric: '0',
                alpha: ' ',
                date: 'unknown'
            },
            headerHovering: 0,
            headerHoverIndex: -1,
            activeSort: null,
            showCustomContextMenu: false,
            contextMenuCoordinates: {},
            contextMenuItem: '',
            customContextMenuHovering: false,
            contextMenuRow: '',
            totalWidth: 0,
            headings: null,
            rows: null,
            filterSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.479 31.479" style="enable-background:new 0 0 31.479 31.479;" xml:space="preserve"> <path style="fill:#1E201D;" d="M26.477,10.274c0.444,0.444,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-8.047-8.047  v26.555c0,0.619-0.492,1.111-1.111,1.111c-0.619,0-1.127-0.492-1.127-1.111V3.813l-8.031,8.047c-0.444,0.429-1.159,0.429-1.587,0  c-0.444-0.444-0.444-1.143,0-1.587l9.952-9.952c0.429-0.429,1.143-0.429,1.571,0L26.477,10.274z"/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`
        }
    },
    computed: {
        headerIndex () {
            return !this.headerHovering ? -1 : this.headerHoverIndex
        },
        theData () {
            return this.dashData
        }
    },
    methods: {
        todo () {
            console.log('todo')
        },
        replace(val, map) {
            let [replaced, replacement] = map.split('~')[1].split('@')
            return val.replace(replaced, replacement)
        },
        showOptionsMenu (ev, identifier, row) {
            if (!this.showCustomContextMenu) {
                ev.preventDefault()
                return this.showTableContextMenu(ev, identifier, row)
            }
            else {
                this.hideCustomContextMenu()
            }
        },
        showTableContextMenu (ev, title, row) {
            this.contextMenuItem = title
            this.contextMenuCoordinates = { left: ev.pageX - 62, top: ev.pageY }
            // might need to change the above line later
            this.contextMenuRow = row
            this.showCustomContextMenu = true
            document.addEventListener('mousedown', this.hideCustomContextMenu)
        },
        hideCustomContextMenu () {
            if (!this.customContextMenuHovering) {
                this.showCustomContextMenu = false
                document.removeEventListener('mousedown', this.hideCustomContextMenu)
            }
        }
    }
}
</script>



<style lang="scss" scoped>

.table-container {
    width: 100%!important;
}

/deep/ .infinite-table {
    header .col {
        background: #e3e3e3;
        height: 36px;
        border-bottom: #e6e6e6!important;
    }
    border: none!important;
}

/deep/ .infinite-table-border {
    border-color: #e6e6e6!important;
}
</style>