<template>
  <div class="game-container">
      <div class="title-container-404"><span>404 Not Found!</span></div>
      <div class="header-container-404"><span>Maybe you can find your way back using this spaceship</span></div>
        <div class="game-wrapper">
            <iframe class="game" width="650" height="350" src="http://hexgl.bkcore.com/play/" frameborder="0" allowfullscreen style="border: 1px solid #000;" scrolling="no"></iframe>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

.game {
    width: 80vw;
    height: 80vh;
}

.game-wrapper {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container-404 {
    font-size: 80px;
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    margin: auto auto;
    text-align:center;
}

.header-container-404{
    position: absolute;
    top: 120px;
    text-align: center;
    width: 100%;
    span {
        left: 0;
        right: 0;
        margin: 0 0;
    }
}




 
</style>
