
<script>
export default {
    methods: {
        exp () {
            let header = Object.keys(this.dashData[0])
            let csv = ('"' + header.join('","') + '"\n')
                .concat(
                    // traverse each row
                    this.dashData.map(
                        row =>
                                '"' + header.map(
                                key => row[key] ? row[key] : ' '
                            )
                            .join('","') + '"'
                    )
                    .join('\n')
                )
            // console.log(csv)
            //
            if (!csv.match(/^data:text\/csv/i)) {
                csv = 'data:text/csv;charset=utf-8,' + csv
            }
            let data = encodeURI(csv)
            let link = document.createElement('a')
            link.setAttribute('href', data)
            link.setAttribute('download', 'export.csv')
            link.click()
        }
    }
}
</script>

<style lang="scss">

.global-data-options-container {
    width: 90vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.export-to-csv {
    width: 8rem!important;
}


</style>
