<template>
    <div class="filter-tray-wrapper">
        <div class="filter-chips-container" v-if="config.filters">
            <!-- <m-button @click="show = true">
                <m-icon name="ios-funnel" /> Edit Filters<m-icon name="ios-arrow-down" />
            </m-button>
            <div class="filters" v-for="(filter, key) in filters" :key="key">
                <div class="filter-chips" v-for="(chip, idx) in filter" :key="idx">
                    <div class="filter-chip-text">{{ chip }}</div>
                    <div class="delete-chip-button"
                        @click="deleteChip(key, chip)">
                        <m-icon name="ios-close-circle-outline"/>
                    </div>
                </div>
            </div> -->
            <!-- <div
                class="tray-filter-wrapper"
                v-for="(filter, index) in config.filters"
                :key="index">
                <m-multiselect
                    v-if="filter.type === 'multi-select' && filters[filter.yVal]"
                    :placeholder="filter.placeholder"
                    :options="filter.options"
                    icon-left="ios-funnel"
                    v-model="filters[filter.yVal]"
                    :field.sync="filters[filter.yVal]"
                    @input="multiFilter($event, filter.yVal)" />
                 </div> -->
                 <div class="global-filter-filters tray-filter-filters">
                    <i class="ion-ios-funnel" style="color: #2178cf;font-size:21px;"></i>
                    <div
                        class="global-filter-wrapper tray-filter-wrapper"
                        v-for="(filter, index) in config.filters"
                        :key="index">
                        <m-select class="filter-select"
                            @input="$emit('singleFilter', $event)"
                            :placeholder="filter.yVal"
                            v-if="filter.type === 'select'"
                            :options="filter.options"
                            :selected="filter.default"
                            :radio="true"/>
                        <m-multiselect
                            v-if="filter.type === 'multi-select' && filters[filter.yVal] && (filter.default instanceof Array)"
                            :placeholder="filter.yVal"
                            :class="filters[filter.yVal].length ? 'active' : ''"
                            :options="filter.options"
                            :selected="filter.default"
                            :field.sync="filters[filter.yVal]"
                            @input="multiFilter($event, filter.yVal)"
                            />
                    </div>
                </div>
        </div>
        <!-- <div class="filter-tray-container" v-show="show">
            <div
                class="filter-tray"
                :class="transition ? 'active' : ''">
                <div
                    class="filter-tray-wrapper">
                    <div class="filter-tray-x" @click="show = false">
                        <m-icon name="ios-close-circle-outline" />
                    </div>
                    <div class="filter-tray-filters-container">
                        <div class="filter-tray-global">
                            <div class="global-filter-title">Global Filters</div>
                            <div class="global-filter-filters">
                                <div
                                    class="global-filter-wrapper"
                                    v-for="(filter, index) in contents.filters"
                                    :key="index">
                                    <m-select class="filter-select"
                                        @input="$emit('singleFilter', $event)"
                                        :placeholder="filter.yVal"
                                        v-if="filter.type === 'select'"
                                        :options="getOptions(filter)"
                                        :selected="filter.default"
                                        :radio="true"
                                        :icon-left="'ios-funnel'" />
                                    <m-multiselect
                                        v-if="filter.type === 'multi-select' && filters[filter.yVal]"
                                        :yVal="filter.yVal"
                                        :options="filter.options"
                                        icon-left="ios-funnel"
                                        v-model="filters[filter.yVal]"
                                        @input="multiFilter($event, filter.yVal)"
                                        />
                                </div>
                            </div>
                        </div>
                        <div class="filter-tray-local" v-if="localFilters.length">
                            <div class="local-filter-title">
                                <div class="local-title-text">Local Filters</div>
                                <div class="local-filter-toggler">
                                    <m-icon name="ios-arrow-dropdown" />
                                </div>
                            </div>
                            TODO add local filters to BD Dashboard
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
import MIcon from './MIcon.vue'
import MInput from './MInput'
import MSelect from './MSelect'
import MMultiselect from './MMultiselect'
import MButton from './MButton'
import utils from '../mixins/utils'

export default {
    props: ['contents'],
    mixins: [utils],
    components: {
        MIcon,
        MSelect,
        MInput,
        MMultiselect,
        MButton
    },
    watch: {
        show (val) {
            if (val) {
                setTimeout(() => { this.transition = true }, 0)
            }
        },
        reset (val) {
            if (val) {
                setTimeout(() => { this.reset = false }, 300)
            }
        },
        filters (val) {
            // console.log(val)
        }
    },
    computed: {
        filters: {
            get () {
                return this.$store.state.filters || {}
            },
            set (value) {
                this.$store.commit('setFilters', value)
            }
        },
        config () {
            return this.model ? this.model : this.contents
        }
    },
    data: () => ({
        localFilters: [],
        transition: false,
        hasFiltersEnabled: false,
        reset: false,
        show: false,
        model: {}
    }),
    methods: {
        getOptions (opts) {
            return opts.order.map(_ => ({ label: _, value: _ }))
        },
        close (ev) {
            this.transition = false
            setTimeout(() => {
                this.$emit('close')
            }, 300)
        },
        multiFilter (ev, val) {
            this.$emit('multiFilter', ev, val)
            this.checkForFiltersEnabled()
        },
        deleteChip (filter, chip) {
            this.$store.commit('deleteFilter', [filter, chip])
            this.$emit('filterDeleted')
            this.$forceUpdate()
        },
        checkForFiltersEnabled () {
            for (let [filter, vals] of iterate(this.filters)) {// eslint-disable-line
                // console.log(filter, vals)
                if (vals.length) {
                    return (this.hasFiltersEnabled = true)
                }
            }
            this.hasFiltersEnabled = false
        }
    },
    mounted () {
        this.$store.commit('setFilters', this.model.filters)
        // this.model.filters.forEach(filter => {
        //     // console.log('set filter')
        //     this.$store.commit('setFilter', [filter.yVal, []])
        //     // this.$set(this.filters, filter.yVal, [])
        // })
        this.checkForFiltersEnabled()
    },
    created() {
        this.model = this.contents
        this.contents.filters.forEach((filter, idx) => {
            let dfault = this.$store.state.json.map(row => row[filter.yVal]).filter(this.getUnique).sort().reverse()
            this.model.filters[idx]['options'] = dfault.map(_ => ({ label: _, value: _ }))
            if (filter.default === 'All') this.model.filters[idx].default = dfault
        })
    }
}

function * iterate(o) {
    var keys = Object.keys(o)
    for (var i = 0; i < keys.length; i++) {
        yield [keys[i], o[keys[i]]]
    }
}
</script>

<style lang="scss">

$primary: #2178cf;

.tray-filter-filters {
    margin-left: 0!important;
}

.tray-filter-wrapper {
    .m-select-container {
        color: rgba(0,0,0,0.3);
        .ion-ios-arrow-down {
            display: none;
        }
    }
    .m-select-container.active {
        .m-input-container input {
            color: white!important;
            &::placeholder {
                color: white;
            }
        }
        .m-input-container {
            border: none;
            background: $primary;
        }
    }
    &:first-child {
        padding-left: 0;
    }
    padding-right: 10px;
    margin-top: 0!important;
    .m-input-container {
        // border: none!important;
        height: 1.65rem;
        // width: auto;
        color: rgba(0, 0, 0, 0.4);
        i {
            color: rgba(0, 0, 0, 0.4);
        }
        .m-input {
            padding-left: 0px;
            text-align: center;
        }
    }
}


.filter-chips-container {
    .m-button-container {
        width: 120px!important;
        border: none;
        padding-right: 10px;
        .m-button {
            border: none;
            display: flex;
            padding-right: 10px;
            white-space: nowrap;
            padding-right: 10px;
            i {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(0,0,0,0.6);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 26px;
    background: white;
    border-radius: 5px;
    .filters {
        display: flex;
        .filter-chips {
            margin-left: 5px;
            margin-right: 3px;
            padding-left: .6em;
            height: 1.4rem;
            font-size: .65rem;
            padding-right: .6em;
            background: rgba(77, 149, 204, 0.8);
            color: white;
            display: flex;
            align-items: center;
            border-radius: 15px;
        }
        .delete-chip-button {
            font-size: 20px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.global-filter-wrapper {
    width: 150px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    .m-select-container {
        width: 150px;
    }
}

.filter-tray-container {
    height: 100%;
    width: 100vw!important;
    position: fixed;
    background: rgba(0,0,0,0.2);
    z-index:100;
    left: 0;
    justify-content: center;
    top: 0;
    cursor: default;
    .filter-tray {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;
        margin-top: -100%;
        height: auto;
        transition: all ease 300ms;
        &.active {
            margin-top: 10%
        }
        .filter-tray-x {
            height: 25px;
            width: 25px;
            font-size: 25px;
            right: 4.5%;
            position: absolute;
            color: rgba(255,0,0,0.9);
            cursor: pointer;
            display: flex;
            justify-content: center;
        }
    }
}

.filter-tray-wrapper {
    text-align: center;
    background: white;
    width: 90%;
    border-radius: 5px;
}

.filter-tray-global {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 2px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.global-filter-title {
    font-size: 26px;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 94%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.global-filter-filters {
    display: flex;
    background: white;
    height: auto;
    margin-left: 5%;
}

.local-filter-title {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    height: 40px;
    align-items: center;
    // margin-left: 5px;
    i {
        margin-left: 30px;
    }
    &:hover {
        background: blue;
        color: white;
    }
}
</style>
