<template>
    <div class="filter-row-container">
        <div class="filter-el-container" v-for="(filter, ind) in contents" :key="ind">
            <m-input class="dash-input"
                :placeholder="filter.placeholder"
                v-if="filter.type === 'search'"
                icon-left="ios-search"
                @input="$emit('input', $event)" />
                <!-- {{ filter }} -->
            <m-select class="filter-select"
                @input="$emit('multiFilter', $event)"
                :placeholder="filter.multiFilterXVal.placeholder"
                v-if="filter.multiFilterXVal"
                :options="filter.options"
                :selected="filter.multiFilterXVal.default"
                :radio="true"/>
            <m-auto-complete
                v-if="filter.type === 'autocomplete'"
                v-model="searchTerm"
                :asyncOptions="list"
                @focus="this.list.length ? this.open = true : this.open = false"
                @input="getList($event, filter)"
                @selected="navigate($event, filter)" />
        </div>
    </div>
</template>

<script>

import MInput from './MInput'
import MSelect from './MSelect'
import MAutoComplete from './MAutoComplete'

export default {
    props: ['contents'],
    components: {
        MInput,
        MSelect,
        MAutoComplete
    },
    data: () => ({
        searchTerm: '',
        list: [],
        config: {}
    }),
    methods: {
        navigate (ev, filter) {
            let url = filter.targetUrl.replace(':value', ev.label)
            this.$router.replace(url)
        },
        getList (searchTerm, filter) {
            if (searchTerm.length > 0 && !this.list.length) {
                return this.$axios.get(`${this.$config.host}${filter.listEndpoint.replace('@', this.searchTerm.charAt(0).toLowerCase())}`)
                .then(data => {
                    console.log(filter)
                    this.list = data.data.map(el => ({ label: el[filter.identifier], value: el[filter.identifier] }))
                })
            }
            else if (searchTerm.length === 0) {
                this.list = []
            }
        },
        getOptions (filter) {
            if (filter) {
                switch (filter.type) {
                    case 'date_agg': return filter.aggTypes.sort().map(agg => ({ label: agg, value: agg }))
                }
            }
        }
    },
    created () {
        if (this.contents.length) {
            this.contents.forEach((filter, index) => {
                this.$set(this.contents[index], 'options', this.getOptions(this.contents[index].multiFilterXVal))
            })
        }
    }
}
</script>

<style lang="scss">
.dash-input {
    height: 35px;
}

.filter-row-container {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 200px;
    align-items: center;
    .filter-el-container {
        width: 100%;
    }
}

.filter-select {
    z-index: 20;
}

.dash-input {
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
    min-width: 400px;
    &:hover {
        background: rgba(4, 117, 155, 0.08);
    }
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

</style>
