<template>
    <ChartContainer @mounted="menuTarget = $event" :width="contents.width" @showOptionsMenu="showOptionsMenu" :title="contents.title">
        <custom-context-menu
            ref="contextMenu"
            slot="menu"
            :menuItems="contextMenuOptions"
            :title="contextMenuItem"
            :visible="showCustomContextMenu"
            :coords="contextMenuCoordinates"
            :row="contextMenuRow"
            @close="showCustomContextMenu = false"
            @hover="customContextMenuHovering = $event"
            @fullscreen="fullscreen($event)"
            @exportCSV="exportCSV($event)" />
        <!-- <card-filters 
            v-show="isFullScreen"
            v-if="contents.filters && contents.filters.length"
            :contents="contents"
			></card-filters> -->
        <Chart slot="chart" :contents="contents">
            <div slot="chart" id="mapid" ref="gmap"></div>
        </Chart>
    </ChartContainer>
</template>


<script>

// const COUNTRIES = require('../assets/countries.js').COUNTRIES
import CustomContextMenu from './CustomContextMenu'
import ChartContainer from './ChartContainer'
import Chart from './Chart'

export default {
    props: ['contents', 'dashData'],
    components: {
        CustomContextMenu,
        ChartContainer,
        Chart
    },
    data () {
        return {
            map: null,
            world_goemetry: '',
            menuTarget: undefined,
            zoomChanged: false,
            isFullScreen: false,
            showCustomContextMenu: false,
            contextMenuCoordinates: {},
            contextMenuItem: '',
            customContextMenuHovering: false,
            contextMenuRow: '',
            fullScreenIcon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490 490' style='enable-background:new 0 0 490 490;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.837,293.967L20.761,455.041v-50.35c0-5.543-4.494-10.037-10.039-10.037c-5.543,0-10.038,4.494-10.038,10.037v74.582 v0.012v0.676c0,5.547,4.495,10.039,10.038,10.039h75.271c5.543,0,10.04-4.492,10.04-10.039c0-5.543-4.497-10.039-10.04-10.039 h-51.72l161.759-161.756c3.923-3.922,3.923-10.277,0-14.199C192.111,290.047,185.757,290.047,181.837,293.967z'/%3E%3Cpath d='M489.316,479.273v-74.582c0-5.543-4.493-10.037-10.038-10.037c-5.545,0-10.04,4.494-10.04,10.037v50.35L308.167,293.969 c-3.921-3.918-10.275-3.918-14.195,0c-3.923,3.924-3.923,10.279,0,14.199l161.755,161.754h-51.719 c-5.544,0-10.04,4.496-10.04,10.039c0,5.547,4.496,10.039,10.04,10.039h75.27c5.545,0,10.038-4.492,10.038-10.039v-0.676V479.273z '/%3E%3C/g%3E%3Cg%3E%3Cpath d='M181.837,196.033L20.761,34.963v50.346c0,5.545-4.494,10.037-10.039,10.037c-5.543,0-10.038-4.492-10.038-10.037v-74.58 v-0.01v-0.678C0.684,4.496,5.179,0,10.722,0h75.271c5.543,0,10.04,4.496,10.04,10.041c0,5.543-4.497,10.037-10.04,10.037h-51.72 l161.759,161.76c3.923,3.92,3.923,10.275,0,14.195C192.111,199.955,185.757,199.955,181.837,196.033z'/%3E%3Cpath d='M489.316,10.729v74.58c0,5.545-4.493,10.037-10.038,10.037c-5.545,0-10.04-4.492-10.04-10.037V34.963L308.167,196.029 c-3.921,3.924-10.275,3.924-14.195,0c-3.923-3.918-3.923-10.273,0-14.195L455.727,20.078h-51.719 c-5.544,0-10.04-4.494-10.04-10.037c0-5.545,4.496-10.041,10.04-10.041h75.27c5.545,0,10.038,4.496,10.038,10.041v0.678V10.729z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E",
            exitFullScreenIcon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 502.56 502.56' style='enable-background:new 0 0 502.56 502.56;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M171.36,148.8L22.72,0L0,22.72l148.8,148.64H75.36v32h112c8.837,0,16-7.163,16-16v-112h-32V148.8z'/%3E%3Cpath d='M315.36,203.36h112v-32h-73.44L502.56,22.72L480,0L331.36,148.8V75.36h-32v112 C299.36,196.197,306.523,203.36,315.36,203.36z'/%3E%3Cpath d='M427.36,331.36v-32h-112c-8.837,0-16,7.163-16,16v112h32v-73.44L480,502.56L502.56,480L353.92,331.36H427.36z'/%3E%3Cpath d='M187.36,299.36h-112v32h73.44L0,480l22.56,22.56l148.8-148.64v73.44h32v-112 C203.36,306.523,196.197,299.36,187.36,299.36z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E",
            contextMenuOptions: [
                {
                    label: 'Full Screen',
                    href: '$fullscreen',
                    icon: 'ios-expand'
                },
                // {
                //     label: 'Save as Image',
                //     href: '$saveAsImage',
                //     icon: 'ios-image'
                // },
                {
                    label: 'Export CSV',
                    href: '$exportCSV',
                    icon: 'ios-paper'
                }
            ]
        }
    },
    methods: {
        fsContainer () {
            let style = this.$el.parentNode.style
            this.isFullScreen = true
            style.height = '98vh'
            style.width = '97.5vw'
            style.margin = '0'
            this.$el.style.height = '95vh'
            this.$el.style.width = '95vw'
            style.position = 'fixed'
            style.top = '0'
            style.left = '0'
            style.zIndex = '30'
            this.contextMenuOptions[0].icon = 'ios-contract'
            this.contextMenuOptions[0].label = 'Exit Full Screen'
            this.showCustomContextMenu = false
        },
        normalContainer () {
            let style = this.$el.parentNode.style
            this.isFullScreen = false
            style.height = `${this.contents.height}`
            style.width = `${this.contents.width}`
            this.$el.style.height = `${this.contents.height}`
            style.position = 'relative'
            style.top = ''
            style.left = ''
            style.zIndex = '10'
            style.margin = '10px'
            this.contextMenuOptions[0].icon = 'ios-expand'
            this.contextMenuOptions[0].label = 'Full Screen'
            this.showCustomContextMenu = false
        },
        fullscreen () {
            if (!this.isFullScreen) {
                this.fsContainer()
            }
            else {
                this.normalContainer()
            }
            this.defer(() => { this.showCustomContextMenu = false })
            setTimeout(() => {
                this.resizeMap()
            }, 650)
        },
        defer (cb) {
            setTimeout(() => { cb() }, 0)
        },
        showOptionsMenu (ev) {
            if (!this.showCustomContextMenu) {
                ev.preventDefault()
                return this.showTableContextMenu(ev)
            }
            else {
                this.hideCustomContextMenu()
            }
        },
        resizeMap () {
            // TODO
            console.log('resize map')
        },
        hideCustomContextMenu () {
            if (!this.customContextMenuHovering) {
                this.showCustomContextMenu = false
                this.$root.$el.removeEventListener('mousedown', this.hideCustomContextMenu)
            }
        },
        showTableContextMenu (ev) {
            this.showCustomContextMenu = true
            setTimeout(() => {
                let menuWidth = this.$refs.contextMenu.$el.clientWidth
                let left = this.menuTarget.offsetLeft
                let top = this.menuTarget.offsetTop
                this.contextMenuCoordinates = { left: left - menuWidth + 25, top: top - 10 }
                // this.contextMenuRow = row
                this.$root.$el.addEventListener('mousedown', this.hideCustomContextMenu)
            }, 0)
        },
        getMap () {
            return new window.google.maps.Map(this.$refs.gmap, {
                center: { lat: 40.397, lng: -20.644 },
                zoom: 2,
                disableDefaultUI: true,
                mapTypeId: window.google.maps.MapTypeId.SATELLITE,
                minZoom: 2
            })
        },
        setGeoJson(map, data) {
            data.forEach(row => {
                try {
                    let geoJSON = require(`../geoJson/countries/${row[this.contents.label]}.geo.json`)
                    geoJSON.features[0].properties[this.contents.valueColumn] = row[this.contents.valueColumn]
                    map.data.addGeoJson(geoJSON)
                }
                catch (err) {
                    // console.log(err)
                }
            })
        },
        getFillColor (value) {
            let { maxValue, colors } = this.contents
            let { length } = colors
            let colorValues = colors.map((color, index) => (maxValue / length) * (index + 1))
            let color = colors.reduce((accum, iter, index) => {
                return value <= colorValues[index] ? accum : iter
            }, colors[0])
            return '#' + color
        },
        createMap (data) {
            this.defer(() => {
                let map = this.getMap()
                this.setGeoJson(map, data)

                map.data.setStyle((feature) => {
                    let value = feature.getProperty(this.contents.valueColumn)
                    let fillColor = this.getFillColor(value)
                    return {
                        fillColor,
                        strokeWeight: 1
                    }
                })
                let infoWindow = new window.google.maps.InfoWindow({
                    disableAutoPan: true
                })

                map.data.addListener('mouseover', (event) => {
                    infoWindow.setContent(`<div class="info-window">${this.contents.valueColumn}: ${event.feature.getProperty(this.contents.valueColumn)}</div>`)
                    infoWindow.setPosition({ lat: event.latLng.lat(), lng: event.latLng.lng() })
                    infoWindow.open(map)
                })
            })
        }
    },
    created () {
        this.$axios.get(this.$config.host + this.contents.endpoint)
        .then(res => {
            if (!window.google) {
                try {
                    this.$emit('endpointLoaded')
                    let gMapsLoaded = new Event('gmapsLoaded')
                    window.initMap = function () {
                        window.dispatchEvent(gMapsLoaded)
                    }
                    var gmaps = document.createElement('script')
                    gmaps.src = `https://maps.googleapis.com/maps/api/js?key=${this.$config.gmapsKey}&callback=initMap`
                    document.querySelector('body').appendChild(gmaps)
                    window.addEventListener('gmapsLoaded', () => { this.createMap(res.data) })
                }
                catch (err) {
                    console.log(err)
                }
            }
        })
    }
}
</script>

<style lang="scss" scoped>
#mapid { 
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    display:block;
    border-radius: 5px;
}

/deep/ .info-window {
    width: auto;
}

.chart-title {
    margin-top: 0;
    height: unset;
}
</style>