<template>
    <div class="header-container">
        <h1></h1>
        <div class="header-top-container" style="width: auto!important;margin-left: 25px;">
            <div :style="{ left: logoLeft}">
            </div>
            <div class="line-container" :style="{ width: width }"></div>
        </div>
        <div class="header-title-text" style="margin-left: 25px;">{{ contents.text }}</div>
    </div>
</template>

<script>
export default {
    props: ['contents'],
    data: () => ({
        width: 1025 + 'px',
        logoLeft: 1090 + 'px'
    })
}
</script>

<style lang="scss">

.header-container {
    width: auto!important;
}

.header-top-container {
    width: auto!important;
    svg {
        height: 50px;
    }
    .line-container {
        border-bottom: 2px solid rgba(0,0,0,0.5);
        height: 25px;
        margin-right: 15px;
    }
}

.header-title-text {
    font-size: 36px;
    color: #004DDC;
}

.st0 {
    fill: #004DDC;
}


</style>


<style lang="scss">
@media print {
    @page {
        size: 297mm 210mm;
    }
    div.header-container { 
       page-break-before: always!important;
    }
    .chart-title {
        border-bottom: none!important;
        margin-left: 1em;
    }
    .chart-actions {
        display: none!important;
    }
    .web-dashboard-container {
        position: relative;
        display: block;
    }
    .component-container {
        display: block;
        .chart-container {
            border: none;
            &:hover {
                box-shadow: none!important;
            }
        }
        .image-container {
            width: auto!important;
        }
    }
}

@page {
        size: 297mm 210mm;
    }
    div.header-container { 
       page-break-before: always!important;
    }
    .web-dashboard-container {
        position: relative;
        display: block;
    }
    .component-container {
        display: block;
        .chart-container {
            border: none;
            &:hover {
                box-shadow: none!important;
            }
        }
        .image-container {
            width: auto!important;
        }
    }
</style>
