<template>
  <div>
      <!-- <input v-model="search"/> -->
      <iframe ref="iframe" class="iframe" src="http://localhost:8080/#/web/nebula_health" frameborder="0"></iframe>
  </div>
</template>

<script>
export default {
    data () {
        return {
            search: ''
        }
    },
    watch: {
        search (val, oldVal) {
            this.$refs.iframe.contentWindow.dash.triggerSearch(this.search)
        }
    }
}
</script>

<style>
.iframe {
    width: 100%;
    height: 100vh;
}
</style>
