<template>
    <div class="image-container">
        <div
            class="text-overlay"
            v-if="contents.textOverlay"
            v-for="(section, index) in contents.textOverlay"
            :key="index">
            <div class="overlay-text"
            :style="textStyle(section)"
            @click="highlight($event)"
            @mouseover="hovering = (index + 1)"
            @mouseout="hovering = 0"
            ref="overlayContainer">
                <div v-for="(text, idx) in section.text" :key="idx" :style="{ 'width': text === '@' ? 'auto' : '' }">
                    <m-input
                        v-if="text === '@'"
                        :fontSize="section.fontSize"
                        :color="section.colors[idx]"
                        :align="section.inputAlign"
                        @keyup="alignParent($event)"></m-input>
                    <div v-else :style="{ color: section.colors[idx] }">{{ text }}</div>
                </div>
            </div>
        </div>
        <img :src="$config.s3BucketUri + contents.path" :style="imgStyle"/>
    </div>
</template>

<script>
import MInput from './MInput'

export default {
    props: ['contents'],
    components: {
        MInput
    },
    data: () => ({
        dragging: false,
        hovering: 0
    }),
    computed: {
        imgStyle () {
            return {
                width: this.contents.imageWidth,
                height: this.contents.imageHeight
            }
        }
    },
    methods: {
        alignParent (ev) {
            let parent = ev.target.parentNode.parentNode.parentNode
            let width = 0
            for (let node of parent.childNodes) {
                width += node.clientWidth
            }
            parent.style.left = (1300 - width) / 2 + 'px'
        },
        textStyle: config => ({
            bottom: config.bottom ? config.bottom : '',
            top: config.top ? config.top : '',
            left: config.left ? config.left : '',
            right: config.right ? config.right : '',
            'font-size': config.fontSize ? config.fontSize : ''
        }),
        highlight (ev) {
            this.currentElement = ev.currentTarget
            this.clearSelectBoxes()
            this.createSelectBox()
            this.createDragger()
        },
        drag (e) {
            if (this.dragging) {
                this.currentElement.style.top = e.pageY - (this.currentElement.clientHeight / 2) + 'px'
                // this.currentElement.style.left = e.pageX - (this.currentElement.clientWidth / 2) + 'px'
            }
        },
        drop (e) {
            if (this.dragging) {
                this.dragging = false
            }
        },
        showDragger () {
            this.currentElement.style.cursor = '-webkit-grabbing'
            this.dragging = true
        },
        createDragger () {
            this.currentElement.addEventListener('mousedown', this.showDragger)
            document.addEventListener('mousemove', this.drag)
            document.addEventListener('mouseup', this.drop)
        },
        removeDragger () {
            this.currentElement.removeEventListener('mousedown', this.showDragger)
            document.removeEventListener('mousemove', this.drag)
            document.removeEventListener('mouseup', this.drop)
        },
        createSelectBox () {
            let style = this.currentElement.style
            style.border = '2px dashed black'
            style.cursor = '-webkit-grab'
        },
        unhighlight () {
            if (this.currentElement) {
                let style = this.currentElement.style
                style.border = 'none'
                style.cursor = 'default'
                this.removeDragger()
            }
        },
        clearSelectBoxes () {
            this.$el.querySelectorAll('.overlay-text')
            .forEach(el => {
                el.style.border = 'none'
                el.style.cursor = 'default'
            })
        }
    },
    mounted () {
        window.imgContainer = this
        let inputs = this.$el.querySelectorAll('.m-input-container')
        inputs.forEach(input => {
            input.addEventListener('keydown', (e) => {
                let fontSize = input.parentNode.parentNode.style.fontSize
                let realInput = e.currentTarget.querySelector('input')
                realInput.style.width = input.style.width = ((realInput.value.length + 1) * (parseInt(fontSize.split('rem')[0])) * 9.2) + 'px'
            })
        })
        document.addEventListener('mouseup', () => {
            if (!this.dragging && !this.hovering && this.currentElement) {
                this.unhighlight()
            }
        })
        if (this.$refs.overlayContainer) {
            this.$refs.overlayContainer.forEach(parent => {
                let width = 0
                for (let node of parent.childNodes) {
                    width += node.clientWidth
                }
                parent.style.left = (1300 - width) / 2 + 'px'
            })
        }
        // this.$refs.overlayContainer.forEach(cont => {
        //     console.log(cont)
        // })
    }
}
</script>

<style lang="scss">
.image-container {
    left: 0;
    width: 100vw;
}

.overlay-text {
    width: auto;
    position: absolute;
    display: flex;
    div {
        white-space: nowrap;
    }
    .m-input-container {
        border-left: none!important;
        border-right: none!important;
        border-top: none!important;
        border-radius: 0!important;
        border-bottom: none!important;
        background: transparent!important;
        .m-input {
            // text-align: center;
        }
        margin-left: 10px;
    }
}

@media print {
    .web-dashboard-container {
        margin-left: 0px;
    }
}

body {
    margin: 0;
}

</style>
