<template>
    <div class="editor-container">
        <div class="panel-container">
            <span class="editor-input-title">
                JSON Data
            </span>
            <m-text-area type="textarea" v-model="data" class="editor-inputs" @keyup.enter="runJS" />
        </div>
        <div class="panel-container">
            <span class="editor-input-title">
                JSON Config
            </span>
             <m-text-area type="textarea" v-model="config" class="editor-inputs" @keyup.enter="runJS" />
        </div>
    </div>
</template>

<script>
import MTextArea from './MTextArea'

export default {
    components: {
        MTextArea
    },
    data: () => ({
        config: '',
        data: ''
    }),
    methods: {
        runJS () {
            if (this.data) {
                this.$root.data = []
                JSON.parse(this.data).map(section => {
                    this.$root.data.push(section)
                })
            }
            if (this.config) {
                this.$root.config = []
                JSON.parse(this.config).map(section => {
                    this.$root.config.push(section)
                })
            }
        }
    }
}
</script>

<style lang="scss">

.panel-container {
    width: 50%;
    height: 85%;
}

.editor-container {
    position: absolute;
    background:white;
    border: 1px solid rgba(0,0,0,0.4);
    height: 50vh;
    width: 50%;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: flex-end;
}

.editor-inputs {
    height: 85%;
    padding: 1%;
    width: 96%;
}

.m-input {
    background: transparent!important;
}


</style>
