<template>
    <div class="m-autocomplete-container">
        <m-input icon-left="ios-search"
            :placeholder="placeholder || 'Start typing something...'"
            @input="$emit('input', $event);open = true"
            @focus="asyncOptions.length ? open = true : open = false"
            @blur="hide"
            v-model="searchTerm"
            >
        </m-input>
        <div class="m-autocomplete-options-box"
                ref="optsBox"
                v-if="open"
                @mouseenter="hovering = true"
                @mouseleave="hovering = false">
                <m-list ref="list">
                    <m-list-item
                        class="m-select-list-item"
                        v-if="asyncOptions.length"
                        v-for="(option, key) in computedOptions"
                        :key="key"
                        :radio="false"
                        @click="selectOption(option)">
                        <span @click="selectOption(option)" class="m-option-text" :title="option.value">{{ option.label }}<span v-show="false">{{ option.value }}</span></span>
                    </m-list-item>
                </m-list>
        </div>
    </div>
</template>

<script>
import MInput from './MInput.vue'
import MList from './MList.vue'
import MListItem from './MListItem.vue'

export default {
    props: ['asyncOptions', 'term', 'placeholder'],
    components: {
        MInput,
        MList,
        MListItem
    },
    computed: {
        computedOptions (val) {
            if (this.asyncOptions.length) {
                this.open = true
            }
            else {
                this.open = false
            }
            return this.asyncOptions.length
            ? this.asyncOptions.filter(val => val.label.indexOf(this.searchTerm) > -1).slice(0, 5)
            : []
        }
    },
    data: () => ({
        searchTerm: '',
        open: false,
        rows: []
    }),
    methods: {
        selectOption (val) {
            this.$emit('selected', val)
        },
        hide () {
            setTimeout(() => {
                this.open = false
            }, 1000)
        }
    },
    mounted () {
        this.open = true
    }
}
</script>

<style>

.m-autocomplete-options-box {
    z-index: 11;
    background: #fff;
}

.filter-row-container {
    z-index: 11;
}

</style>
