<template>
    <div class="m-button-container">
        <button class="m-button" @click="$emit('click', $event)">
            <slot></slot>
        </button>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .m-button-container {
        width: 100%;
        cursor: pointer;
    }

    .m-button {
        width: 100%;
        border-radius: 5px;
        height: 35px;
        border: 1px solid rgba(0,0,0,0.2);
        font-size: 14px;
        cursor: pointer;
        transition: 500ms ease all;
        &:hover {
            border: 1px solid #4339EE;
            color: #4339EE;
        }
    }
</style>
