<template>
    <div class="m-checkbox-container" @click="toggle">
        <input type="checkbox" :checked="isChecked" v-model="model" :value.sync="value" @input="$emit('input', $event)" class="m-checkbox" @change="$emit('change', $event)"/>
        <div class="m-dummy-checkbox"><span v-if="model">√</span></div>
    </div>
</template>

<script>
export default {
    props: ['checked', 'hardSet', 'value'],
    data: () => ({
        model: undefined
    }),
    computed: {
        isChecked: () => this.model === undefined ? this.checked : this.model
    },
    watch: {
        hardSet (val) {
            this.model = val
        }
    },
    methods: {
        toggle () {
            this.model ^= true
            setTimeout(() => { this.$emit('input', this.value) })
            this.$emit('input', this.value)
        },
        overwrite (val) {
            this.model = val
        }
    },
    mounted () {
        this.model = this.checked
    }
}
</script>

<style scoped>

.m-checkbox {
    display: none;
}

.m-dummy-checkbox {
	cursor:pointer;
	user-select:none;
	width:18px;
	height:18px;
	border: 1px solid #a9a9a9; 
	border-radius: 4px;
}

</style>
