<template>
  <div>
        <m-side-panel>
            <div
                class="accordion-container"
                :class="viewer === index ? 'active' : ''"
                v-for="(config, index) in configs"
                :key="index"
                @mouseenter="edit = index"
                @mouseleave="edit = -1">
                <div class="creator-section-title"
                    v-show="viewer === index"
                    v-if="config">
                    <div class="title-text">
                        {{ !config.type ? 'Section ' + (index + 1) : normalize(config.type) }}
                    </div>
                    <div class="section-actions">
                        <div class="delete-section" v-if="index !== 0" v-html="deleteSectionSVG" @click="delet(index)"></div>
                    </div>
                </div>
                <div class="creator-section" v-show="viewer === index && viewer !== 0">
                    <m-select :options="componentOptions" v-model="config.type" radio="1" :placeholder="'Select a visualization...'"></m-select>
                    <card-row-creator
                        v-if="config.type === 'data-cards'"
                        :columns="computedColumns"
                        @input="setConfigs($event, index)"/>
                    <m-title-creator
                        v-if="config.type === 'title'"
                        @input="setConfigs($event, index)"
                        :columns="computedColumns"></m-title-creator>
                    <data-table-creator
                        v-if="config.type === 'data-table'"
                        @input="setConfigs($event, index)"
                        :columns="computedColumns"></data-table-creator>
                </div>
                <endpoint-creator
                    v-show="viewer === index && viewer === 0"
                    @data="setData($event)">
                </endpoint-creator>
                <div v-show="viewer !== index" class="dashboard-section-placeholder" @click="viewer = index" v-if="config">
                    <div class="title-text">
                        {{ !config.type ? 'Section ' + (index + 1) : normalize(config.type) }}
                        <div class="edit-section" v-html="editSVG" v-show="edit === index && viewer !== index"></div>
                    </div>
                </div>
            </div>
            <div class="add-row" @click="addNewSection">
                <div class="add-row-btn">+ Add Dashboard Section</div>
            </div>
        </m-side-panel>
        <m-dashboard-viewer :configs="configs" :theData="theData" :refresh="refresh"/>    
  </div>
</template>

<script>
import MSidePanel from './MSidePanel'
import MSelect from './MSelect'
import MDashboardViewer from './MDashboardViewer'
import CardRowCreator from './CardRowCreator'
import MTitleCreator from './MTitleCreator'
import DataTableCreator from './DataTableCreator'
import EndpointCreator from './EndpointCreator'

export default {
    components: {
        MSidePanel,
        MSelect,
        MDashboardViewer,
        CardRowCreator,
        MTitleCreator,
        DataTableCreator,
        EndpointCreator
    },
    computed: {
        computedColumns () {
            if (this.theData.length) {
                return Object.keys(this.theData[0]).map(col => ({ value: col, label: col }))
            }
            else {
                return []
            }
        }
    },
    data: () => ({
        deleteSectionSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" height="20px" width="20px"> <circle style="fill:#E21B1B;" cx="255.999" cy="255.999" r="255.999"/> <g> <rect x="244.002" y="120.008" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -106.0397 256.0022)" style="fill:#FFFFFF;" width="24" height="271.988"/> <rect x="120.008" y="244.007" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -106.0428 256.0035)" style="fill:#FFFFFF;" width="271.988" height="24"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>`,
        editSVG: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="20px" height="20px"> <g> <g> <path fill="white" d="m119.2,114.3h-109.4c-2.3,0-4.1,1.9-4.1,4.1s1.9,4.1 4.1,4.1h109.5c2.3,0 4.1-1.9 4.1-4.1s-1.9-4.1-4.2-4.1z"/> <path fill="white" d="m5.7,78l-.1,19.5c0,1.1 0.4,2.2 1.2,3 0.8,0.8 1.8,1.2 2.9,1.2l19.4-.1c1.1,0 2.1-0.4 2.9-1.2l67-67c1.6-1.6 1.6-4.2 0-5.9l-19.2-19.4c-1.6-1.6-4.2-1.6-5.9-1.77636e-15l-13.4,13.5-53.6,53.5c-0.7,0.8-1.2,1.8-1.2,2.9zm71.2-61.1l13.5,13.5-7.6,7.6-13.5-13.5 7.6-7.6zm-62.9,62.9l49.4-49.4 13.5,13.5-49.4,49.3-13.6,.1 .1-13.5z"/> </g> </g> </svg>`,
        componentOptions: [
            { label: 'Header(Title) Row', value: 'title' },
            { label: 'Filter Row', value: 'filter-row' },
            { label: 'Card Row', value: 'data-cards' },
            { label: 'Data Table', value: 'data-table' },
            { label: 'Line Chart', value: 'line-chart' },
            { label: 'Stacked Line Chart', value: 'stacked-line' },
            { label: 'Bar Chart', value: 'bar-chart' },
            { label: 'Pie Chart', value: 'pie-chart' },
            { label: 'Funnel Chart', value: 'funnel-chart' }
        ],
        configs: [{
            type: 'main-endpoint', list: {}
        },
        {
            type: '', list: {}
        }],
        theData: [],
        refresh: false,
        viewer: 0,
        edit: -1
    }),
    methods: {
        setData (data) {
            this.$set(this, 'theData', data)
        },
        setConfigs (val, index) {
            this.$set(this.configs, index, val)
            this.refresh = true
            setTimeout(() => {
                this.refresh = false
            }, 1000)
        },
        addNewSection () {
            console.log(this.configs)
            this.configs.push({
                type: ''
            })
            this.viewer++
        },
        normalize (words) {
            return words.split('-').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')
        },
        delet (idx) {
            this.$delete(this.configs, idx)
        }
    },
    mounted () {
        this.$axios.get(this.$config.host + '/api/nebula_health')
        .then(res => {
            this.setData(res.data)
        }).catch(err => console.log(err))
    }
}
</script>

<style lang="scss">

.data-creator-section {

}

.dashboard-section-placeholder {
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    &:hover {
        background: #2178cf;
        color: white;
    }
}

.title-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    svg {
        margin-left: 5px;
    }
    .edit-section {
        display: flex;
    }
}

.add-row {
    display: flex;
    justify-content: center;
    width: 98%;
    margin-top: 20px;
    .add-row-btn {
        height: 18px;
        background: green;
        color: white;
        position: absolute;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;
    }
}

.creator-section {
    background: white;
    width: 95%;
    margin-top: 2.5%;
}
.creator-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    background: #2178cf;
    color: white;
    font-weight: 500;
    font-size: 22px;
    width: calc(100% - 5%);
    padding: 2%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    .section-actions {
        text-align: right;
        .delete-section svg circle {
            cursor: pointer;
            fill: rgba(255, 0, 0, 0.8)!important;
        }
    }
}

.accordion-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .creator-section {
        height: 0px;
    }
    &.active {
        .creator-section {
            height: auto;
            transition: 300ms height;
        }
    }
    // max-height: 50px;
    // overflow: scroll;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
}
</style>
