<template>
    <div class="ma-dashboard-container">
        <div
            class="ma-section"
            v-for="(config, index) in configs"
            :key="index">
            <card-row v-if="config.type === 'data-cards'" :dashData="theData" :contents="config" :refresh="refresh" ></card-row>
            <Title v-if="config.type === 'title'" :dashData="theData" :contents.sync="config" :refresh="refresh" ></Title>
            <data-table :height="config.height || '40vh'" :width="config.width || '99vw'" v-if="config.type === 'data-table'" :dashData="theData" :contents="config" :refresh="refresh"></data-table>
        </div>
    </div>
</template>

<script>
import CardRow from './CardRow.vue'
import Title from './Title.vue'
import DataTable from './DataTable'

export default {
    props: ['theData', 'configs', 'refresh'],
    data: () => ({
        setData: false
    }),
    components: {
        CardRow,
        Title,
        DataTable
    },
    computed: {
        computedData () {
            return this.setData ? this.theData : []
        }
    }
}
</script>

<style lang="scss">
.ma-section {

}

</style>
