<template>
  <div class="m-input-container">
        <m-icon
            class="m-input-icon m-icon-left"
            :name="iconLeft"
            v-if="iconLeft"
            @click="emitIconClicked('Left')" />      
        <input
            :type="type"
            class="m-input"
            :value="value"
            :style="{ 'font-size': fontSize || '', color: color || '', 'text-align': align}"
            :placeholder="placeholder"
            @click="$emit('click', $event)"
            @input="$emit('input', $event.target.value)"
            @focus="$emit('focus', $event)"
            @blur="$emit('blur', $event)"
            @keyup="$emit('keyup', $event)" />
        <m-icon
            class="m-input-icon"
            :name="iconRight"
            v-if="iconRight"
            @click="emitIconClicked('Right')" />
  </div>
</template>

<script>

import MIcon from './MIcon'

export default {
    props: ['icon-left', 'icon-right', 'placeholder', 'value', 'type', 'fontSize', 'color', 'align'],
    components: {
        MIcon
    },
    methods: {
        emitIconClicked (side) {
            this.$emit(`icon${side}Clicked`)
        }
    }
}
</script>

<style lang="scss">
.m-input {
    width: 100%;
    border: none;
    // height: 2.5rem;
    // line-height: 2;
    font-size: .8rem;
    margin-left: 0;
    padding-left: 5px;
    // height: 100%;
    background-color: inherit;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
}

.m-input-container {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 100%;
    max-height: 5rem;
    .m-input-icon {
        height: 20px;
    }
    i {
        font-size: 18px;
    }
}


.m-input-icon {
    height: 28px;
    // width: 28px;
    font-size: 25px;
    transform: scaleX(1.1);
    font-weight: 100;
    color: rgba(0,0,0,0.5);
}
.m-input-icon:last-child {
    padding-right: 8px;
}

.m-icon-left {
    padding-left: 10px;
}

</style>
