<template>
    <div class="m-list-container">
        <slot></slot>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

.m-list-container {
    width: calc(100% - 2px);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
}

</style>
