<template>
  <div
    class="m-list-item"
    @click="$emit('click', $event)">
      <slot></slot>
  </div>
</template>

<script>

export default {
}
</script>

<style lang="scss">

.m-list-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    & > * {
        padding: 5px;
    }
    &:hover {
        background-color: rgba(0,0,0,0.1);
    }
}

.m-list-item-section {
    padding: 10px;
}

</style>
