<template>
    <div class="m-select-container m-multi-select-container">
        <m-input
            class="m-select-input"
            ref="selectBox"
            :style="{ background: background }"
            :class="placeholderColor"
            :icon-left="iconLeft"
            v-model="strValue"
            icon-right="ios-arrow-down"
            @click="open ^= true"
            @iconRightClicked="open ^= true"
            :placeholder="computedPlaceholder"
            @focus="$event.target.blur()" />
        <div class="m-select-options-box"
            ref="optsBox"
            :style="{ zIndex: open ? '999999' : 'initial' }"
            v-show="open"
            @mouseenter="hovering = true"
            @mouseleave="hovering = false">
            <m-list ref="list">
                <m-list-item
                    :uncheck="uncheck"
                    :selected="valueArray[idx]"
                    class="m-select-list-item select-options"
                    :class="valueArray.indexOf(option.value) > -1 ? 'm-select-active-item' : ''"
                    v-for="(option, idx) in options"
                    :key="idx"
                    :idx="idx"
                    checkbox="1"
                    @click="selectOption()">
                    <m-checkbox
                        :ref="'check' + idx"
                        :checked="selected ? selected.indexOf(option.value) > -1 : false"
                        @input="selectOption()"/>
                    <span
                        @click="selectOptionFromSpan(idx)"
                        class="m-option-text"
                        :title="option.value">{{ option.label }}
                        <span v-show="false">{{ option.value }}
                        </span>
                    </span>
                </m-list-item>
                <m-list-item 
                    class="m-select-list-item select-all m-select-active-item"
                    @click="toggleAll">
                    <div v-html="doubleCheckSVG" class="select-all-option"></div>
                    <span class="m-option-text" @click="toggleAll" :title="'!SelectAll!'">Select All<span v-show="false">Select All</span></span>
                </m-list-item>
            </m-list>
        </div>
    </div>
</template>

<script>
import MInput from './MInput'
import MList from './MList'
import MListItem from './MListItem'
import MCheckbox from './MCheckbox'

const _ = {
    each: require('lodash/each')
}

export default {
    props: [
        'options',
        'placeholder',
        'radio',
        'icon-left',
        'selected',
        'reset',
        'field',
        'background',
        'placeholderColor'
    ],
    components: {
        MInput,
        MList,
        MListItem,
        MCheckbox
    },
    data: () => ({
        uncheck: [],
        open: false,
        hovering: false,
        strValue: '',
        valueArray: [],
        model: [],
        doubleCheckSVG: `<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -50 690.24 373.93" width="20px" height="25px"><title>doublecheck</title><path d="M505.94,79.59a20.7,20.7,0,0,0-29.25,0L167.76,388.53,35.31,256.08A20.68,20.68,0,0,0,6.06,285.33L153.13,432.41a20.7,20.7,0,0,0,29.25,0L505.94,108.84A20.68,20.68,0,0,0,505.94,79.59Z" transform="translate(0 -73.54)"></path><path d="M688.19,88.59a20.7,20.7,0,0,0-29.25,0L350,397.53,217.55,265.08a20.68,20.68,0,0,0-29.25,29.25L335.38,441.41a20.7,20.7,0,0,0,29.25,0L688.19,117.84A20.7,20.7,0,0,0,688.19,88.59Z" transform="translate(0 -73.54)"></path></svg>`
    }),
    computed: {
        computedPlaceholder () {
            if (!this.valueArray.length) {
                this.strValue = ''
                return this.placeholder + ' - All'
            }
            else if (this.options.length === this.valueArray.length) {
                this.strValue = ''
                return this.placeholder + ' - All'
            }
            else {
                return this.strValue
            }
        }
    },
    watch: {
        field (val) {
            this.setOptions(val)
        },
        open (val) {
            if (val) {
                document.addEventListener('click', this.close)
            }
            else {
                document.removeEventListener('click', this.close)
            }
        }
    },
    methods: {
        seeEvent(ev) {
            console.log(ev)
        },
        setOptions (val) {
            if (val.length) {
                let totalChecks = this.$refs.list.$el.querySelectorAll('input:checked').length
                if (totalChecks !== this.field.length) {
                    let list = this.$refs.list.$el.querySelectorAll('.m-option-text')
                    this.uncheck = []
                    list.forEach((el, ind) => {
                        if (this.field.indexOf(el.title) === -1) {
                            this.uncheck.push(ind)
                        }
                    })
                }
            }
        },
        close () {
            if (!this.hovering) {
                this.open = false
            }
        },
        selectOptionFromSpan (idx) {
            this.$refs[`check${idx}`][0].toggle()
            this.selectOption()
        },
        selectOption () {
            setTimeout(() => {
                let radioList = this.$refs.list.$el.querySelectorAll('input:checked')
                if (radioList.length > 0) {
                    let value = []
                    radioList.forEach(el => {
                        let val = el.parentNode.parentNode.querySelector('.m-option-text').title
                        if (val) value.push(val)
                    })
                    this.valueArray = value
                    this.$emit('input', value)
                    this.strValue = value.join(', ')
                }
                else {
                    this.valueArray = []
                    this.strValue = ''
                    this.$emit('input', [])
                }
            }, 1)
        },
        toggleAll () {
            let checkList = this.$refs.list.$el.querySelectorAll('input:checked')
            let allChecks = this.$refs.list.$el.querySelectorAll('input')
            let value = []
            if (checkList.length !== allChecks.length) {
                allChecks.forEach(el => {
                    // console.log(el.parentNode.parentNode.childNodes[2].title)
                    let val = el.parentNode.parentNode.childNodes[2].title
                    if (val) value.push(val)
                })
                this.valueArray = value
                this.$emit('input', value)
                this.strValue = value.join(', ')
                 _.each(this.$refs, (component, key) => {
                    if (key.indexOf('check') > -1) {
                        component[0].overwrite(1)
                    }
                })
            }
            else {
                this.valueArray = []
                this.strValue = ''
                this.$emit('input', [])
                _.each(this.$refs, (component, key) => {
                    if (key.indexOf('check') > -1) {
                        component[0].overwrite(0)
                    }
                })
            }
        }
    },
    created () {
        window.filter = this
        this.$on('input', function (val) {
            // console.log(val)
        })
        if (this.selected) {
            let selected = this.selected
            this.value = this.valueArray = selected
            selected.forEach(res => {
                // console.log(res)
            })
            this.$emit('input', selected)
        //     let tempNode = this.$refs.optsBox
        //         .querySelector(`[title="${this.selected}"]`)
        //         .parentNode
        //         .querySelector('.m-inner-radio')

        //     tempNode.style.display = 'block'

        //     this.$refs.optsBox.addEventListener('click', (ev) => {
        //         tempNode.style.display = 'none'
        //     }, { once: true })
        }
    }
}
</script>

<style lang="scss">
.select-all-option {
    margin-left: 3px;
}

.select-options {
    font-size: 13px!important;
}

.m-select-active-item {
    color: black;
}

.m-input-container {
    height: 2em;
}

.m-select-container {
    // background: white;
    .m-input {
        cursor: default;
    }
    .m-list-item {
        font-size: 14px;
    }
    .m-option-text {
        display: flex;
        align-items: center;
    }
}

.m-multi-select-container {
    .m-list-container {
        max-height: 50vh;
        overflow-y: scroll;
    }
}

</style>

<style lang="scss" scoped>

.m-select-options-box {
    // border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background: white;
    position: absolute;
    width: inherit;
    background: white;
    z-index: 1;
    .m-select-list-item {
        z-index: 2;
    }
}



</style>
