<template>
    <div class="radio-group-container">
        <slot></slot>
    </div>
</template>

<script>
export default {
    mounted () {
        this.$on('setValue', (val) => {
            this.$emit('input', val)
        })
    }
}
</script>

<style>

</style>
