<template>
    <div class="m-radio-container" @click="toggle">
        <input ref="input" type="radio" :checked="checked" v-model="model" class="m-radio" @change="$emit('change', $event)" />
        <div class="m-dummy-radio"><div class="m-inner-radio" v-show="model"></div></div>
    </div>
</template>

<script>
export default {
    props: ['checked', 'value'],
    data: () => ({
        model: undefined
    }),
    computed: {
        isToggled () {
            if (this.model !== undefined) return this.model
            return (this.checked || false)
        }
    },
    methods: {
        toggle () {
            this.model ^= true
            if (this.model) this.$emit('input', this.value)
        },
        select () {
            this.model = true
        },
        deselect () {
            this.model = false
        }
    },
    watch: {
        checked (val) {
            if (val) {
                this.$parent.$parent.$children.forEach(radio => {
                    if (radio._uid !== this.$parent._uid) {
                        radio.checked = false
                    }
                    else {
                        radio.checked = true
                    }
                })
            }
        },
        emit (event) {
            console.log(event)
        }
    }
}
</script>

<style scoped>

.m-radio {
    display: none;
}

.m-dummy-radio {
	cursor:pointer;
	width:18px;
	height:18px;
	border: 1px solid #a9a9a9; 
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-inner-radio {
    background: rgba(0,0,0,0.5);
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

</style>