<template>
    <div class="m-select-container">
        <m-input
            class="m-select-input"
            ref="selectBox"
            :icon-left="iconLeft"
            icon-right="ios-arrow-down"
            v-model="value"
            @click="open ^= true"
            @iconRightClicked="open ^= true"
            :placeholder="placeholder"
            @focus="$event.target.blur()" />
        <div class="m-select-options-box"
            ref="optsBox"
            :style="{ zIndex: open ? '999999' : 'initial' }"
            v-show="open"
            @mouseenter="hovering = true"
            @mouseleave="hovering = false">
            <m-list ref="list">
                <m-list-item
                    class="m-select-list-item"
                    v-for="(option, key) in options"
                    :key="key"
                    :radio="radio"
                    @click="selectOption(key, option)">
                    <m-radio
                        :ref="'check' + key"
                        v-model="value"
                        :checked="value === option.value"
                        :value="option.value"
                        @input="selectOption(key, option)">
                    </m-radio>
                    <span @click="selectOptionFromSpan(key, option)" class="m-option-text" :title="option.value">{{ option.label }}<span v-show="false">{{ option.value }}</span></span>
                </m-list-item>
            </m-list>
        </div>
    </div>
</template>

<script>
import MInput from './MInput'
import MList from './MList'
import MListItem from './MListItem'
import MRadio from './MRadio'

export default {
    props: [
        'options',
        'placeholder',
        'radio',
        'icon-left',
        'selected'
    ],
    components: {
        MInput,
        MList,
        MListItem,
        MRadio
    },
    data: () => ({
        open: false,
        hovering: false,
        value: ''
    }),
    watch: {
        open (val) {
            if (val) {
                document.addEventListener('click', this.close)
            }
            else {
                document.removeEventListener('click', this.close)
            }
        }
    },
    methods: {
        selectOptionFromSpan (idx, opt) {
            this.selectOption(idx, opt)
        },
        close () {
            if (!this.hovering) {
                this.open = false
            }
        },
        selectOption (idx, opt) {
            for (let i in this.$refs) {
                if (i.includes('check')) {
                    this.$refs[i][0].deselect()
                }
            }

            this.$refs[`check${idx}`][0].select()
            this.value = opt.value
            this.$emit('input', opt.value)

        //     setTimeout(() => {
        //         if (this.$refs.list) {
        //             let radioList = this.$refs.list.$el.querySelectorAll('input:checked')
        //             if (radioList.length) {
        //                 let value = radioList[0].parentNode.parentNode.childNodes[2].title
        //                 this.$emit('input', value)
        //                 this.value = value
        //             }
        //             else {
        //                 this.value = ''
        //             }
        //         }
        //     }, 1)
        //     this.open = false
        }
    },
    mounted () {
        // console.log(this.$refs.optsBox, this.$refs.selectBox.$el.clientWidth)
        if (this.selected) {
            this.value = this.selected
            let tempNode = this.$refs.optsBox
                .querySelector(`[title="${this.selected}"]`)
                .parentNode
                .querySelector('.m-inner-radio')

            tempNode.style.display = 'block'

            this.$refs.optsBox.addEventListener('click', (ev) => {
                tempNode.style.display = 'none'
            }, { once: true })
        }
    }
}
</script>

<style lang="scss">
.m-input-container {
    height: 2em;
}

.m-select-container {
    width: 175px;
    // background: white;
    .m-input {
        cursor: default;
    }
    .m-list-item {
        font-size: 16px;
    }
}

</style>

<style lang="scss" scoped>

.m-select-options-box {
    // border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background: white;
    position: absolute;
    width: inherit;
    background: white;
    z-index: 1;
    .m-select-list-item {
        z-index: 2;
    }
}
</style>