<template>
    <div class="side-panel-container">
        <div class="side-panel" :class="visible ? '' : 'hidden'">
            <slot></slot>
            <div class="side-panel-toggler" :class="visible ? 'rotate' : ''" @click="toggleDrawer" v-html="rightArrowSVG"></div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        visible: true,
        rightArrowSVG: `<svg version="1.1" height="30px" width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"> <g> <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/> </g> </svg>`
    }),
    methods: {
        toggleDrawer () {
            this.visible ^= true
        }
    }
}
</script>

<style lang="scss">
.side-panel {
    border-right: 1px solid rgba(0,0,0,0.3);
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 400ms all ease;
    background-color: white;
    z-index: 99;
    &.hidden {
        left: -400px;
    }
}

.side-panel-container {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
}

.side-panel-toggler {
    &.rotate {
        svg {
            transform: rotate(180deg);
        }
    }
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 400px;
    top: 20%;
    position: fixed;
}

</style>
