<template>
  <div class="m-textarea-container">
        <textarea
            class="m-textarea"
            :value="value"
            :placeholder="placeholder"
            @click="$emit('click', $event)"
            @input="$emit('input', $event.target.value)"
            @focus="$emit('focus', $event)"
            @keyup="$emit('keyup', $event)"
            :style="style"/>
        <!-- <m-icon class="m-input-icon" :name="iconRight" v-if="iconRight" @click="emitIconClicked('Right')" /> -->
  </div>
</template>
<script>

export default {
    props: ['icon-left', 'icon-right', 'placeholder', 'value', 'type', 'color', 'fontSize'],
    computed: {
        style () {
            return {
                color: this.color || '',
                'font-size': this.fontSize || ''
            }
        }
    }
    // methods: {
    //     emitIconClicked (side) {
    //         this.$emit(`icon${side}Clicked`)
    //     }
    // }
}
</script>

<style>

.m-textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.m-text-area-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
}
    
</style>