<template>
    <div>
        <div>
            <m-input
                v-model="config.title"
                placeholder="Enter title text..."
                class="margin-top"
                @input="tellMommy($event, 'title')"/>
            <title-filter-creator :columns.sync="columns" @input="tellMommy($event, 'filters')" />
            <title-children-creator @input="tellMommy($event, 'children')" />
            <!-- TODO -->
            <title-description-creator @input="tellMommy($event, 'description')" />
            <!-- TODO -->
        </div>
    </div>
</template>

<script>
import MInput from './MInput'
import TitleFilterCreator from './TitleFilterCreator'
import TitleChildrenCreator from './TitleChildrenCreator'
import TitleDescriptionCreator from './TitleDescriptionCreator'

export default {
    props: ['columns'],
    components: {
        MInput,
        TitleFilterCreator,
        TitleChildrenCreator,
        TitleDescriptionCreator
    },
    data: () => ({
        config: {
            type: 'title',
            title: '',
            filters: [{
                placeholder: '',
                searchableColumns: [],
                type: ''
            }],
            description: {},
            children: []
        }
    }),
    methods: {
        tellMommy (val, prop) {
            this.$set(this.config, prop, val)
            setTimeout(() => { this.$emit('input', this.config) }, 0)
        }
    }
}
</script>

<style lang="scss">

</style>
