<template>
    <div v-show="show" :class="`tooltip tooltip--${dir}`" :data-tooltip="message"></div>
</template>

<script>
export default {
    props: ['dir', 'message', 'show']
}
</script>

<style lang="scss" scoped>
/*Ignore this, codepen-only styling*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

$c__text--tooltip: white;
$c__bg--tooltip: rgba(0,0,0,1);
$tooltip__width: 160px;
$tooltip__triangle-size: 5px;
$tooltip__font-size: 12px;

.tooltip {
    height: 100%;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: help;

  &:before,
  &:after {
    // visibility: hidden;
    opacity: 1;
    pointer-events: none;
		display: inline-table; //to support dynamic height
  }

  &:before {
    content: attr(data-tooltip);
    position: absolute;
    width: $tooltip__width;
    padding: 10px;
    background-color: $c__bg--tooltip;
    background-color: rgba(0,0,0,1);
    border-radius: 3px;
    color: $c__text--tooltip;
    text-align: center;
		font-size: $tooltip__font-size;
    
		bottom: calc(100% + 4px);
    left: 50%;
    transform: translate(-50%, -3px);
  }

  /* Triangle */
  &:after {
    position: absolute;
    bottom: calc(100% + 3px);
    left: 50%;
    margin-left: -$tooltip__triangle-size;
    width: 0;
    border-top: $tooltip__triangle-size solid $c__bg--tooltip;
    border-top: $tooltip__triangle-size solid rgba(0,0,0,1);
    border-right: $tooltip__triangle-size solid transparent;
    border-left: $tooltip__triangle-size solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

	&.tooltip--left {
		@media (min-width: 480px) {
			&:before {
				top: 50%;
				left: 0%;
				transform: translate(-123%, -50%);
				margin-left: -7px;
			}

			/* Triangle */
			&:after {
				bottom: 50%;
				left: calc(0% - 2px);
				transform: translate(-370%, 65%);
				margin-left: -5px;
				
				border-left: $tooltip__triangle-size solid $c__bg--tooltip;
				border-left: $tooltip__triangle-size solid rgba(0,0,0,1);
				border-top: $tooltip__triangle-size solid transparent;
				border-bottom: $tooltip__triangle-size solid transparent;
			}
		}
	}

	&.tooltip--right {
		@media (min-width: 480px) {
			&:before {
				top: 50%;
				left: 100%;
				transform: translate(3px, -50%);
				margin-left: 4px;
			}

			/* Triangle */
			&:after {
				bottom: 50%;
				left: 100% ;
				transform: translate(0, 50%);
				margin-left: -3px;
				
				border-right: $tooltip__triangle-size solid $c__bg--tooltip;
				border-right: $tooltip__triangle-size solid rgba(0,0,0,1);
				border-top: $tooltip__triangle-size solid transparent;
				border-bottom: $tooltip__triangle-size solid transparent;
			}
		}
	}
	
	&:hover {
		&:before,
		&:after {
			visibility: visible;
			opacity: 1;
		}	
	}
}
</style>
