<template>
    <m-button @click="$emit('click', $event)"><slot></slot></m-button>
</template>

<script>
import MButton from './MButton'

export default {
    components: {
        MButton
    }
}
</script>

<style>

</style>
