<script>
import chart from '../mixins/charts'
import utils from '../mixins/utils'
import 'echarts/lib/chart/pie'

export default {
    mixins: [chart, utils],
    data: () => ({

    }),
    methods: {
        generateConfig (data, updating) {
            let categories = data.map(el => el[this.contents.yVal])

            console.log(categories)

            this.option = {
                title: {
                    text: '南丁格尔玫瑰图',
                    subtext: '纯属虚构',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    x: 'center',
                    y: 'bottom',
                    data: categories
                },
                calculable: true,
                series: [
                    {
                        name: this.contents.title,
                        type: 'pie',
                        radius: ['20%', '80%'],
                        roseType: 'area',
                        data: data.map(row => ({ value: row[this.contents.xVal], name: row[this.contents.yVal] }))
                    }
                ]
            }
        }
     }
}
</script>

<style>

</style>
