<script>
import chartMixin from '../mixins/charts'
import lineChart from './LineChart.vue'

export default {
    mixins: [chartMixin],
    extends: lineChart,
    data: () => ({
        areaStyle: {}
    })
}
</script>

<style>

</style>
