<template>
    <div class="title-wrapper">
        <div class="title">
            <span class="left-title">
                <div 
                    v-for="(child, idx) in contents.children"
                    :key="idx">
                    <div class="analytics-icon"
                        v-if="contents.children"
                        @mouseenter="child['showTooltip'] = true"
                        @mouseleave="child['showTooltip'] = false"
                        v-html="svgString"
                        @click="$router.replace(child.endpoint)">
                    </div>
                    <MTooltip
                        class="sub-chart-tooltip"
                        :message="child.title"
                        :show="child.showTooltip"
                        dir='right'></MTooltip>
                </div>

                <div class="description-component">
                    <m-icon
                        name="md-information-circle" 
                        @click="$refs.description.toggle($event)"
                        @mouseenter="showDataDescriptionTooltip = true"
                        @mouseleave="showDataDescriptionTooltip = false"></m-icon>
                    <MTooltip
                        class="sub-chart-tooltip"
                        message="Data Description"
                        :show="showDataDescriptionTooltip"
                        dir='right'></MTooltip>
                    {{ ' ' }}
                    <data-description ref="description">
                        <dashboard-description
                            :contents="contents"></dashboard-description>
                    </data-description>
                </div>
                <p>{{ contents.title }}</p>
                <!-- turn this into a component later -->
                <svg v-if="!contents.parent" @click="goback" class="back-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"> <g> <g id="reply-all"> <path d="M178.5,191.25v-76.5L0,293.25l178.5,178.5v-76.5l-102-102L178.5,191.25z M331.5,216.75v-102L153,293.25l178.5,178.5V367.2    C459,367.2,548.25,408,612,497.25C586.5,369.75,510,242.25,331.5,216.75z"/> </g> </g> </svg>
                <!-- end component -->
            </span>
            <filter-row
                v-if="hasFilters(contents)"
                :contents="contents.filters"
                @input="$emit('input', $event)"
                @multiFilter="$emit('multiFilter', $event)" />
                <!-- {{ contents.filters }} -->
            <span class="right-title-container">
                <div class="right-title-upper">
                    <m-icon
                        ref="ctMenuTarget"
                        name="ios-settings"
                        @click="showOptionsMenu($event)" />
                    <custom-context-menu
                    ref="contextMenu"
                    :menuItems="contextMenuOptions"
                    :title="contextMenuItem"
                    :visible="showCustomContextMenu"
                    :coords="contextMenuCoordinates"
                    :row="contextMenuRow"
                    @close="showCustomContextMenu = false"
                    @hover="customContextMenuHovering = $event"
                    @fullscreen="fullscreen($event)"
                    @filtertray="showFilterTray($event)"
                    @exportCSV="$emit('exportCSV')"/>
                    <!-- <MTooltip
                        class=""
                        :message="isFullScreen ? 'Exit Full Screen' : 'Full Screen'"
                        :show="showFullScreenTooltip"
                        dir='left'></MTooltip>
                    <m-icon :name="isFullScreen ? 'ios-contract' : 'ios-expand'"
                        style="margin-right: 10px;"
                        @click="$emit('fullscreen', $event)"
                        @mouseenter="showFullScreenTooltip = true"
                        @mouseleave="showFullScreenTooltip = false"></m-icon>  -->
                    <p>Data Refreshed: {{ contents.updated }}</p>
                </div>
                <!-- <div v-if="lastUpdated">Dashboard Published: {{ lastUpdated.fromMySQLtoHuman() }}</div> -->
            </span>
        </div>
        <span class="subtitle" v-if="contents.subtitle">{{ contents.subtitle ? subtitle(contents.subtitle) : '' }}</span>
    </div>
</template>

<script>
import MIcon from './MIcon.vue'
import DataDescription from './DataDescription.vue'
import DashboardDescription from './DashboardDescription.vue'
import MTooltip from './MTooltip'
import FilterRow from './FilterRow'
import CustomContextMenu from './CustomContextMenu.vue'

export default {
    props: ['contents', 'lastUpdated', 'isFullScreen', 'export'],
    components: {
        MIcon,
        DataDescription,
        DashboardDescription,
        MTooltip,
        FilterRow,
        CustomContextMenu
    },
    data () {
        return {
            showDataDescriptionTooltip: false,
            svgString: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 390"><path d="M379.4 178.3l-87.2 133.4C299 320 303 330.5 303 342c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-3 .3-6 .8-8.9l-57.6-33.5c-8.6 8.3-20.3 13.4-33.3 13.4-8.6 0-16.6-2.3-23.6-6.2L32 364.2v57.2c0 23.5 19.2 42.7 42.7 42.7h362.7c23.5 0 42.7-19.2 42.7-42.7V208.8l-58.6-38.9c-8.1 6.3-18.3 10.1-29.4 10.1-4.4 0-8.7-.6-12.7-1.7z"/><path d="M117 217c26.5 0 48 21.5 48 48 0 2.1-.2 4.2-.4 6.2l60.1 33.6c8.3-6.8 18.8-10.8 30.4-10.8 3.6 0 7.1.4 10.4 1.1l87.4-135.4c-5.6-7.8-8.9-17.4-8.9-27.8 0-26.5 21.5-48 48-48s48 21.5 48 48c0 3.9-.5 7.7-1.3 11.3l41.3 27.6V90.7c0-23.5-19.2-42.7-42.7-42.7H74.7C51.2 48 32 67.2 32 90.7V320l40-38.3c-1.9-5.2-3-10.8-3-16.7 0-26.5 21.5-48 48-48z"/></svg>',
            contextMenuOptions: [
                {
                    label: 'View Fullscreen',
                    href: '$fullscreen',
                    icon: 'ios-expand'
                }
            ],
            contextMenuItem: '',
            showCustomContextMenu: false,
            customContextMenuHovering: false,
            contextMenuCoordinates: {},
            contextMenuRow: '',
            isFullscreen: false
        }
    },
    methods: {
        hasFilters (config) {
            if (config) {
                return config.filters
            }
            return false
        },
        goback () {
            window.history.back()
        },
        subtitle (str) {
            switch (str) {
                case ':identifier': return this.$route.params.identifier.split('_').join(' ')
                default: return str
            }
        },
        showOptionsMenu (ev) {
            if (!this.showCustomContextMenu) {
                ev.preventDefault()
                return this.showTableContextMenu(ev)
            }
            else {
                this.hideCustomContextMenu()
            }
        },
        hideCustomContextMenu () {
            if (!this.customContextMenuHovering) {
                this.showCustomContextMenu = false
                document.removeEventListener('mousedown', this.hideCustomContextMenu)
            }
        },
        showTableContextMenu (ev) {
            this.showCustomContextMenu = true
            setTimeout(() => {
                let menuWidth = this.$refs.contextMenu.$el.clientWidth
                let left = this.$refs.ctMenuTarget.$el.offsetLeft
                let top = this.$refs.ctMenuTarget.$el.offsetTop
                this.contextMenuCoordinates = { left: left - menuWidth + 20, top: top + 10 }
                document.addEventListener('mousedown', this.hideCustomContextMenu)
            }, 0)
        },
        fullscreen (ev) {
            if (!this.isFullscreen) {
                this.contextMenuOptions[0].icon = 'ios-contract'
                this.contextMenuOptions[0].label = 'Exit Fullscreen'
            }
            else {
                this.contextMenuOptions[0].icon = 'ios-expand'
                this.contextMenuOptions[0].label = 'View Fullscreen'
            }
            this.isFullscreen ^= true
            this.$emit('fullscreen', ev)
        }
    },
    mounted () {
        setTimeout(() => {
            if (this.export) {
                this.contextMenuOptions.push({
                    icon: 'ios-paper',
                    label: 'Export CSV',
                    href: '$exportCSV'
                })
            }
        }, 100)
    }
}

String.prototype.fromMySQLtoHuman = function () {
    if (this) {
        let dates = this.split('T')[0].split('-')
        return dates[1] + '/' + dates[2] + '/' + dates[0]
    }
}
</script>

<style lang="scss">

.ion-ios-settings {
    
}

.description-component {
    margin-left: 5px;
}


.left-title {
    // margin-left: .1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    min-width: 30%;
    flex-grow: .1;
    i {
        margin-right: 10px;
        margin-left: 0;
    }
    justify-content: flex-end;
}
.subtitle {
    margin-left: 3em;
    color: #2178cf;
    font-size: 20px;
}

.sub-chart-tooltip {
    &::before {
        transform: translate(-5%, -100%)!important;
    }
    &::after {
        transform: translate(-100%, -125%)!important;
    }
}

.back-button {
    cursor: pointer;
    &:hover {
        fill:#2178cf;
    }
    margin-right: 5px;
}

.right-title-container {
    display: flex;
    .icon {
        margin-left: 10px;
        // font-size: 24px;
    }
    flex-direction: column;
    align-items: flex-end;
    .right-title-upper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.analytics-icon:hover > svg > path {
    fill: rgba(77,149,204,.8)!important;
}

.analytics-icon svg {
    width: 1.9rem;
    height: 1.9rem;
    margin-left: .4rem;
    cursor: pointer;
    path {
        fill: #2178cf;
    }
}

.title {
    white-space: nowrap;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: .1rem;
    color: black;
    height: auto;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    // justify-content:space-between;
    justify-content: space-between;
    & span {
        // transform: scaleX(1.5);
        i {
            font-size: 1.9rem;
            font-weight: 900;
            cursor: pointer;
            color: #2178cf;
            &:hover {
                color:rgba(77,149,204,.8);
            }
        }
    }
    span:last-child {
        font-size: 1rem;
        right: 0vw;
        margin-left: 20px;
        flex: 1;
    }
    span.m-option-text {
        margin-left: 0;
    }

    .filter-el-container {
        height: 30px;
        .m-select-container {
            height: 30px;
        }
        .m-input-container {
            height: 30px;
        }
    }
}

</style>
