<template>
    <div>
        <m-select
            :options="filterTypes"
            v-model="filters[0].type"
            placeholder="Select a title tool (Optional)">
        </m-select>
        <m-multiselect
            v-if="filters[0].type === 'search'"
            placeholder="Select searchable rows"
            :options="columns"
            :field.sync="filters[0].searchableColumns"
            @change="tellMommy($event, 'searchableColumns')"
            @input="tellMommy($event, 'searchableColumns')"
            v-model="filters[0].searchableColumns"
            />
        <m-input
            @input="tellMommy($event, 'placeholder')"
            placeholder="Placeholder text..."
            v-model="filters[0].placeholder" />
    </div>
</template>

<script>

import MMultiselect from './MMultiselect'
import MSelect from './MSelect'
import MInput from './MInput'

export default {
    props: ['columns'],
    components: {
        MMultiselect,
        MInput,
        MSelect
    },
    computed: {
        computedOptions () {
            if (this.columns.length) {
                return this.columns
            }
            else return this.options
        }
    },
    data: () => ({
        filters: [
            {
                type: '',
                searchableColumns: [],
                placeholder: ''
            }
        ],
        options: [],
        filterTypes: [
            { label: 'Search Bar', value: 'search' }
        ]
    }),
    methods: {
        tellMommy (ev, prop) {
            this.filters[0][prop] = ev
            setTimeout(() => { this.$emit('input', this.filters) }, 0)
        }
    },
    mounted () {
        this.options = this.columns
    }
}
</script>

<style>

</style>
