<template>
    <div class="tool-row-container">
        <div
            class="tool-container"
            v-for="(tool, key) in contents.tools"
            :key="key">
            <MyPersonalDataButton @click="showPersonal(tool.storage, tool.uniqueIdentifier)" class="tool" v-if="tool.type === 'userDataTableToggler'">{{ personalDataShowing ? 'Show Original Data' :tool.label }}</MyPersonalDataButton>
            <ExportToCSV class="tool" v-if="tool.type === 'exportToCSV'" :dashData="dashData" @exportAllData="$emit('exportAllData', $event)" :hasMulti="contents.hasMultipleDataSets"></ExportToCSV>
        </div>
        
    </div>
</template>

<script>
import ExportToCSV from './ExportToCSV.vue'
import MyPersonalDataButton from './MyPersonalDataButton.vue'

export default {
    props: ['contents', 'dashData'],
    data: () => ({
        personalDataShowing: false
    }),
    components: {
        ExportToCSV,
        MyPersonalDataButton
    },
    methods: {
        showPersonal (storageKey, rowKey) {
            this.personalDataShowing ^= true
            this.$emit('showPersonal', storageKey, rowKey, this.personalDataShowing)
        }
    }
}
</script>

<style>

.tool-row-container{
    display: flex;
    flex-direction: row-reverse;
}

.tool-container{
    margin-left: 10px;
}

</style>
