<template>
    <div class="web-dashboard-container lds-css" :style="{ 'min-height': fullscreen ? '100vh' : '90vh', zIndex: fullscreen ? '9999' : $route.path.indexOf('reports') > -1 ? '' : '-1' }">
        <div class="container" v-if="loading">
            <div class="carousel"></div>
        </div>
            <div style="width:100%;height:100%" class="lds-pacman" v-if="((!dashData.length && endpointsLoaded !== totalEndpoints) || (endpointsLoaded < totalEndpoints && totalEndpoints !== 0)) && !loading">
                No Data Found
            </div>
            <m-button class="report-print-btn" v-if="$route.path.indexOf('reports') > -1" onclick="window.focus();window.print()">Print Document</m-button>
            <div class="component-container"
                v-if="sections.length && section.type !== 'main-endpoint'"
                v-for="(section, idx) in sections"
                :style="getComponentContainerStyle(section)"
                :key="idx">
                <Title
                    v-if="section.type === 'title'"
                    :contents="section" @showGraph="showGraph"
                    :isFullScreen="fullscreen"
                    :lastUpdated="lastUpdated"
                    :export="mainExport"
                    @fullscreen="toggleFullscreen($event)"
                    @input.passive="triggerSearch"
                    @multiFilter="currentMultiAggType = $event"
                    @exportCSV="exportCSV"></Title>
                <FilterTray
                    v-if="section.type === 'filter-tray' && $store.state.json.length"
                    :contents="section"
                    @multiFilter="filterData"
                    @filterDeleted="filterDeleted"/>
                <leaderboard
                    v-if="section.type === 'leaderboard'"
                    :contents="section"
                    @multiFilter="filterData"
                    @filterDeleted="filterDeleted"
                    @endpointLoaded="endpointsLoaded++"/>
                <CardRow
                    v-if="section.type === 'data-cards' && !loading && endpointsLoaded >= totalEndpoints"
                    :contents="section"
                    @filter="filterData"
                    :dashData="dashData"/>
                <DataTable
                    v-if="section.type === 'data-table'"
                    :contents="section"
                    :dashData="dashData"
                    :currentSort="currentSort.order"
                    :height="section.height || '58vh'"
                    @sort="sortData" />
                <LineChart
                    v-if="section.type === 'line-chart'" :contents="section"
                    :height="section.height"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++"
                    :agg="section.aggType"
                    :currentAggType="currentMultiAggType"/>
                <bar-chart
                    v-if="section.type === 'bar-chart'" :contents="section"
                    :height="section.height"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++"
                    :agg="section.aggType"
                    :currentAggType="currentMultiAggType" />
                <pie-chart
                    v-if="section.type === 'pie-chart'" :contents="section"
                    :height="section.height"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++"
                    :agg="section.aggType"
                    :currentAggType="currentMultiAggType" />
                <stacked-line-chart
                    v-if="section.type === 'stacked-line'" :contents="section"
                    :height="section.height"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++" />
                <picto-chart
                    v-if="section.type === 'picto-chart'"
                    :height="section.height"
                    :contents="section"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++"
                    :agg="section.aggType"
                    :currentAggType="currentMultiAggType"/>
                <global-map
                    v-if="section.type === 'global-map'"
                    :height="section.height"
                    :width="section.width"
                    :contents="section"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++" />
                <u-s-map
                    v-if="section.type === 'us-map'"
                    :contents="section"
                    :dashData="dashData"
                    @endpointLoaded="endpointsLoaded++"/>
                <ImageContainer
                    v-if="section.type === 'image'"
                    :contents="section" />
                <Header
                    v-if="section.type === 'header'"
                    :contents="section" />
            </div>
    </div>
</template>

<script>

import CardRow from './CardRow.vue'
import DataTable from './DataTable.vue'
import FilterRow from './FilterRow.vue'
import Title from './Title.vue'
import LineChart from './LineChart.vue'
import PictoChart from './PictoChart.vue'
import ExportToCSV from './ExportToCSV.vue'
import ToolRow from './ToolRow.vue'
import fscreen from 'fscreen'
import ImageContainer from './ImageContainer.vue'
import BarChart from './BarChart.vue'
import PieChart from './PieChart.vue'
import Header from './Header.vue'
import FilterTray from './FilterTray.vue'
import MButton from './MButton.vue'
import StackedLineChart from './StackedLineChart.vue'
import Leaderboard from './Leaderboard'
import GlobalMap from './GlobalMap'
import USMap from './USMap'

var _ = {
    defer: require('lodash/defer'),
    sortBy: require('lodash/sortBy'),
    cloneDeep: require('lodash/cloneDeep'),
    reduce: require('lodash/reduce'),
    each: require('lodash/each')
}

import Vue from 'vue'

export default {
    components: {
        CardRow,
        DataTable,
        FilterRow,
        Title,
        LineChart,
        ExportToCSV,
        ToolRow,
        PictoChart,
        ImageContainer,
        BarChart,
        Header,
        FilterTray,
        MButton,
        StackedLineChart,
        Leaderboard,
        PieChart,
        GlobalMap,
        USMap
    },
    watch: {
        '$root.config' (val, oldVal) {
            this.sections = []
            val.forEach(item => {
                this.sections.push(item)
            })
        },
        endpointsLoaded (val) {
            // console.trace()
            if (val === this.totalEndpoints) {
                this.loading = false
            }
            if (val >= this.totalEndpoints) {
                this.loading = false
            }
            else {
                this.loading = true
            }
        },
        '$store.state.filters' (val) {
        }
    },
    data () {
        return {
            update: '',
            search: '',
            sections: [],
            json: [],
            // filterBy: {}, /* this variable has been moved to the store */
            loading: false,
            currentSort: { col: '', order: '', type: '' },
            dashData: [],
            fullscreen: false,
            totalEndpoints: 0,
            endpointsLoaded: 0,
            hasMultipleDatasets: false,
            lastUpdated: '',
            showPersonal: false,
            localJSON: [],
            currentStorageKey: '',
            currentMultiAggType: '',
            noMain: false,
            searchableColumns: [],
            showFilterTray: false,
            mainExport: false
        }
    },
    computed: {
        localData: {
            get () {
                return this.localJSON
            },
            set (newValue) {
                this.localJSON = []
                let arr = newValue
                arr.forEach(el => { this.localJSON.push(el) })
            }
        },
        filterBy: {
            get () {
                return this.$store.state.filters || {}
            }
        }
    },
    methods: {
        getComponentContainerStyle (section) {
            let unstyled = ['title', 'filter-row', 'data-cards'].includes(section.type)
            let hasNoPadding = ['data-table'].includes(section.type)
            let hasNoBorder = ['data-table', 'title', 'filter-row', 'data-cards'].includes(section.type)
            return {
                'min-width': this.getMinWidth(section.type),
                width: section.width,
                height: unstyled ? 'unset' : section.height || '41vh',
                margin: unstyled ? '0' : '10px',
                position: section.containerStyle ? section.containerStyle.position : 'initial',
                background: unstyled ? 'transparent' : 'white',
                padding: hasNoPadding ? '0px' : '10px',
                'border-width': hasNoBorder ? '0px' : '1px'
            }
        },
        filterDeleted () {
            this.getDashData()
        },
        getMinWidth (component) {
            switch (component) {
                case 'image': return '300px'
                default: return '500px'
            }
        },
        checkFilters (data) {
            if (_.reduce(this.filterBy, (accum, iter) => iter.length + accum, 0) > 0) {
                return data.filter(row => this.filterFind(row))
            }
            else {
                return data
            }
        },
        filterFind (row) {
            let bool = true
            for (let id in this.filterBy) {
                // for every column we are filtering on
                if (row && this.filterBy[id].indexOf(row[id]) === -1) {
                    // if the row exists and if the column being filtered on contains a value that is present in the current filter configuration
                    bool = false
                }
            }
            return bool
        },
        searchFind (row) {
            let refColumns
            if (!this.searchableColumns.length) {
                this.searchableColumns = refColumns = this.sections.filter(section => section.type === 'title')[0].filters.filter(f => f.type === 'search')[0].searchableColumns
            }
            else {
                refColumns = this.searchableColumns
            }
            return refColumns.reduce((accum, prop) =>
                accum || row[prop].toString().toLowerCase().includes(this.search.toLowerCase())
            , false)
        },
        checkSorting (data) {
            let dashData = []
            if (this.currentSort.order && data.length) {
                let currentSort = this.currentSort.order === 'asc' ? this.ascendingOrder : this.descendingOrder
                let sortOrder = data.map((el, i) => {
                    if (el !== null) return { i: i, value: el[this.currentSort.col] }
                }).sort(currentSort)

                for (let id in sortOrder) {
                    if (sortOrder[id]) {
                        dashData.push(data[sortOrder[id].i])
                    }
                }
            }
            this.loading = false
            if (dashData.length) {
                return dashData
            }
            else {
                return data
            }
        },
        getDashData () {
            var data
            // The commented logic allows for personal data records to be stored locally

            // if (this.showPersonal) {
            //     let arr = JSON.parse(localStorage[this.showPersonal])
            //     this.$set(this, 'localData', this.dashData.filter(datum => arr.includes(datum[this.currentStorageKey])))
            //     console.log(this.localData)
            // }
            // else {

                /* copy the store data */
            data = _.cloneDeep(this.$store.state.json)
            // }

            data = this.checkSearch(data) // filter by search first
            data = this.checkFilters(data) // then add filters
            data = this.checkSorting(data) // then sort the leftover data
            this.dashData = data

            /* the logic below triggers the pac-man loading screen */
            this.update = true
            setTimeout(() => {
                this.update = false
            }, 200)

            /* the logic below allows the user to toggle between personal records and default */

            // _.defer(() => {
            //     // console.log(data)
            //     this[this.showPersonal ? 'localData' : 'dashData'] = data
            // })
        },
        checkSearch (data) {
            if (this.search) {
                return data.filter(row => this.searchFind(row))
            }
            else {
                return data
            }
        },
        showPersonalData (key, rowID, bool) {
            if (!bool) {
                this.showPersonal = false
                return
            }
            let arr = localStorage[key] ? JSON.parse(localStorage[key]) : []
            this.$set(this, 'localData', this.dashData.filter(datum => arr.includes(datum[rowID])))
            // console.log(arr, this.localData)
            this.currentStorageKey = rowID
            this.showPersonal = key
            // console.log(this.showPersonal)
        },
        fscreenHandler (ev) {
            if (fscreen.fullscreenElement !== null) {
                this.fullscreen = true
            }
            else {
                this.fullscreen = false
            }
        },
        exportCSV () {
            let header = Object.keys(this.dashData[0])
            let csv = ('"' + header.join('","') + '"\n')
                .concat(
                    // traverse each row
                    this.dashData.map(
                        row =>
                                '"' + header.map(
                                key => row[key] ? row[key] : ' '
                            )
                            .join('","') + '"'
                    )
                    .join('\n')
                )
            let csvData = new Blob([csv], { type: 'text/csv' })
            let csvUrl = window.URL.createObjectURL(csvData)
            let link = document.createElement('a')
            link.href = csvUrl
            link.download = 'export.csv'
            link.click()
        },
        exportAllData () {
            alert('Coming Soon!')
        },
        ascendingOrder (a, b) {
            if (a && b) {
                return (a.value < b.value) ? -1 : (a.value > b.value) ? 1 : 0
            }
            else {
                return 0
            }
        },
        descendingOrder (a, b) {
            if (a && b) {
                return (a.value > b.value) ? -1 : (a.value < b.value) ? 1 : 0
            }
            else {
                return 0
            }
        },

        filterData (values, column) {
            Vue.nextTick(() => {
                _.defer(() => {
                    _.defer(() => {
                        this.$store.commit('setFilter', [column, values])
                        this.getDashData()
                    })
                })
            })
            this.loading = false
        },
        sortData (col, type) {
             Vue.nextTick(() => {
                _.defer(() => {
                    _.defer(() => {
                        // console.log(this.currentSort)
                        switch (this.currentSort.order) {
                            case '':
                                this.newSort(col, type)
                                break
                            case 'asc':
                                this.currentSort.col === col ? this.swapSort('desc') : this.newSort(col, type)
                                break
                            case 'desc':
                                this.currentSort.col === col ? this.swapSort('asc') : this.newSort(col, type)
                                break
                        }
                        this.getDashData()
                    })
                })
            })
            this.loading = false
        },
        newSort (col, type) {
            this.currentSort = {
                order: 'asc',
                type: type,
                col: col
            }
        },
        swapSort (order) {
            this.currentSort.order = order
        },
        triggerSearch (str) {
            Vue.nextTick(() => {
                _.defer(() => {
                    _.defer(() => {
                        this.search = str
                        this.getDashData()
                    })
                })
            })
        },
        showGraph () {
            this.$el.classList.add('slide-left')
        },
        toggleFullscreen (ev) {
            if (this.fullscreen) {
                this.fullscreen = false
                fscreen.exitFullscreen()
            }
            else {
                this.fullscreen = true
                fscreen.requestFullscreen(this.$el)
            }
        },
        recordTotalEndpoints (sections) {
            return new Promise((resolve, reject) => {
                _.defer(() => {
                    if (sections[0].type === 'main-endpoint') {
                        this.mainExport = true
                        this.totalEndpoints++
                    }
                    sections.forEach(section => {
                        if (section['endpoint']) {
                            if (section.type !== 'main-endpoint' && !sections[0].chunked) {
                                this.totalEndpoints++
                            }
                        }
                        if (this.totalEndpoints > 1 && !sections[0].chunked) {
                            this.hasMultipleDatasets = true
                        }
                    })
                    if (this.totalEndpoints === 0) {
                        this.loading = false
                    }
                    resolve()
                })
            })
        }
    },
    beforeMount () {
        this.$store.commit('clearData')
    },
    mounted () {
        window.dash = this
        this.loading = true
        let configUrl = this.$config.host + '/api/config/' + this.$route.params.dashboard

        this.$axios.get(configUrl)
        .then(res => {
            this.sections = res.data
            this.recordTotalEndpoints(res.data)
            .then(() => {
                if (res.data[0] && res.data[0].type === 'main-endpoint') {
                    // if the first 'section' of the dashboard is a main-endpoint then we know where to get our initial data
                    let url = ''
                    let epObj = res.data[0]

                        // if there is an identifier(domain_name, id, etc.) in the url append it to the api route
                    if (this.$route.params.identifier) {
                        url = this.$config.host + epObj.endpoint + '/' + this.$route.params.identifier
                    }
                    else {
                        // else just get the data for the dashboard
                        url = this.$config.host + epObj.endpoint
                    }
                    this.$axios.get(url)
                    .then(data => {
                        this.$store.commit('setData', data.data)
                        this.$store.commit('clearFilters')
                        this.getDashData()
                        this.endpointsLoaded++
                    }).catch(err => console.log(err))
                }
                else {
                    this.noMain = true
                }
            })
        })

        fscreen.onfullscreenchange = this.fscreenHandler

        // This allows the iframe to exchange messages with the parent window
        // window.addEventListener('message', (e) => {
        //     this.lastUpdated = e.data.lastUpdated
        // })
        // try {
        //     _.defer(() => {
        //         parent.postMessage({ loaded: true }, this.$parentWindow)
        //     })
        // }
        // catch (err) {
        //     // console.log(err)
        // }

        window.dash = this
    }
}

Array.prototype.removeNulls = function() {
    return this.join(',').split(',')
}

Promise.prototype.each = async function(arr, fn) { // take an array and a function
   for (const [idx, item] of arr) await fn(item, idx)
}
</script>

<style lang="scss">

@media print {
    .report-print-btn {
        display: none;
    }
}

body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
}

.chart-title-title {
    color: rgba(0,0,0,0.6);
}

.component-container {
    width: 94%;
    display: flex;
    justify-content: center;
    background: #fff;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.web-dashboard-container {
    // padding-bottom: 10vh;
    background:white;
    width: 100%;
    position:absolute;
    left: 0;
    height: auto;
    // padding-left: 54px;
    // min-height: 95vh;
    align-items: flex-start;
    &.slide-left {
        left: -100vw;
    }
    transition: 300ms all ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & > div > div {
        width:95vw;
    }
    & div:nth-child(0) {
        position: absolute;
    }
}

@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
.lds-pacman {
  position: absolute;
  margin-top: calc(40vh - 30px);
  z-index: 99;
}
.lds-pacman > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: rgb(236, 218, 54);
  -webkit-animation: lds-pacman-1 0.8s linear infinite;
  animation: lds-pacman-1 0.8s linear infinite;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
.lds-pacman > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: lds-pacman-2 0.8s linear infinite;
  animation: lds-pacman-2 0.8s linear infinite;
}
.lds-pacman > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f1b32b;
  -webkit-animation: lds-pacman-3 0.8s linear infinite;
  animation: lds-pacman-3 0.8s linear infinite;
}
.lds-pacman > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.536s;
  animation-delay: -0.536s;
}
.lds-pacman > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.264s;
  animation-delay: -0.264s;
}
.lds-pacman > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-pacman {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

</style>

<style lang="scss">
$slides: 1;
$slide-width: 97px;
$slide-height: 97px;
$ang: 360 / $slides;
$perspective: 600px;
$bg: #000;
$shadow: #fff;
$spin-time: 2s;

$y: ();
@for $i from 0 through $slides {
    $y: append($y, $i*$ang + deg);
}

@mixin animation($name) {
    @-webkit-keyframes #{$name} {@content;}
    @-moz-keyframes #{$name} {@content;}
    @-o-keyframes #{$name} {@content;}
    @keyframes #{$name} {@content;}
}

@mixin animation-use($name, $time) {
    -webkit-animation: $name $time infinite linear;
    -moz-animation: $name $time infinite linear;
    -o-animation: $name $time infinite linear;
    animation: $name $time infinite linear;
}

@mixin slidePos($y, $z) {
    -webkit-transform: rotateY($y) translateZ($z);
    -ms-transform: rotateY($y) translateZ($z);
    transform: rotateY($y) translateZ($z);
}

@mixin rotate($x, $y) {
    -webkit-transform: rotateX($x) rotateY($y);
    -ms-transform: rotateX($x) rotateY($y);
    transform: rotateX($x) rotateY($y);
}

@include animation(turn) {
    50% {
        @include rotate(5deg, .5turn);
    }
    100% {
        @include rotate(-5deg, 1turn);
    }
}
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-perspective: $perspective;
        -ms-perspective: $perspective;
        perspective: $perspective;
        z-index: 99999999999999;
                
        .carousel {
            position: absolute;
            left: 50%;
            top: 50%;
            width: $slide-width;
            height: $slide-height;
            margin-left: -$slide-width/2;
            margin-top: -$slide-height/2;
            transform-style: preserve-3d;
            @include rotate(-5deg, 0);
            @include animation-use(turn, $spin-time);
            background: transparent;
                        
            .slide {
                background: transparent;
                position: absolute;
                width: $slide-width;
                height: $slide-height;
                border-radius: 8px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                @for $i from 1 through $slides {
                    &:nth-child(#{$i}) {
                        @include slidePos(nth($y, $i), .2*$slides*$slide-width);
                    }
                }
            }
        }
}
</style>
