<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <!-- <img class="background" src="./assets/background.png" /> -->
    <router-view :key="key"/>
    <!-- <js-editor></js-editor> -->
  </div>
</template>

<script>
import jsEditor from './components/JSEditor'

export default {
  components: {
    jsEditor
  },
  data: () => ({
    key: Math.floor(Math.random() * Math.floor(1000)),
    data: [],
    config: []
  }),
  methods: {
    changeKey () {
        this.key = Math.floor(Math.random() * Math.floor(1000))
    }
  },
  created () {
    window.rootApp = this
  }
}
</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: #DDD;
  margin: 0;
}

</style>
